<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style/reset.css">
	<link rel="stylesheet" href="./style/reset.user.css">
	<link rel="stylesheet" href="./style/style.css">
	<title>Size Button</title>
</head>
<body>
	<div class="wrap">
		<button type="button" class="otter-btn">
			<span>Button</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default">
			<span>Default Button</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary">
			<span>Primary Button</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed">
			<span>Dashed Button</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text">
			<span>Text Button</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link">
			<span>Link Button</span>
		</button>
		<form action="">
			<fieldset>
			<legend>Set the button.: </legend>
			<div class="otter-radio-group otter-radio-group-outline">
				<label class="otter-radio-wrapper" for="small">
					<span class="otter-radio">
						<input type="radio" class="otter-radio-input" id="small" name="btn-size" value="otter-btn-sm">
						<span class="otter-radio-inner"></span>
					</span>
					<span>Small</span>
				</label>
				<label class="otter-radio-wrapper otter-radio-wrapper-checked" for="default">
					<span class="otter-radio otter-radio-checked">
						<input type="radio" class="otter-radio-input" id="default" name="btn-size" value="otter-btn-df" checked>
						<span class="otter-radio-inner"></span>
					</span>
					<span>Default</span>
				</label>
				<label class="otter-radio-wrapper" for="large">
					<span class="otter-radio">
						<input type="radio" class="otter-radio-input" id="large" name="btn-size" value="otter-btn-lg">
						<span class="otter-radio-inner"></span>
					</span>
					<span>Large</span>
				</label>
			</div>
			<div>
				<label class="otter-checkbox-wrapper">
					<span class="otter-checkbox">
						<input type="checkbox" class="otter-checkbox-input" value="">
						<span class="otter-checkbox-inner"></span>
					</span>
					<span>Change the button style to 'Danger'.</span>
				</label>
			</div>
			<button type="submit" class="otter-btn otter-btn-primary otter-btn-sm">
				<span>Submit</span>
			</button>
		</fieldset>
		</form>
		<ol class="event-log">
			<li>otter-btn-df</li>
		</ol>
	</div>
	<script src="./script/script.js"></script>
</body>
</html>