<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/space.css">
  <link rel="stylesheet" href="./style/button.css">
  <link rel="stylesheet" href="./style/tooltip.css">
  <link rel="stylesheet" href="./style/animation.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Arrow pointing at the center of tooltip</title>
</head>
<body>
  <div class="wrap">
    <div class="grid-placement">
      <div class="one">
        <div class="otter-space otter-space-flex otter-space-horizontal otter-space-justify-center otter-space-horizontal-gap-8">
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="1" data-placement="topLeft"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. One">One</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="2" data-placement="top"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Two">Two</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="3" data-placement="topRight"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Three">Three</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="two">
        <div class="otter-space otter-space-flex otter-space-horizontal otter-space-justify-center otter-space-horizontal-gap-8">
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="4" data-placement="bottomLeft"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Four">Four</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="5" data-placement="bottom"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Five">Five</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="6" data-placement="bottomRight"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Six">Six</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="three">
        <div class="otter-space otter-space-flex otter-space-vertical otter-space-align-flex-start otter-space-vertical-gap-8">
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="7" data-placement="leftTop"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Seven">Seven</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="8" data-placement="left"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Eight">Eight</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="9" data-placement="leftBottom"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Nine">Nine</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="four">
        <div class="otter-space otter-space-flex otter-space-vertical otter-space-align-flex-end otter-space-vertical-gap-8">
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="10" data-placement="rightTop"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Ten">Ten</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="11" data-placement="right"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Eleven">Eleven</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
          <div class="otter-space-item">
            <button type="button" class="otter-btn otter-btn-default otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="12" data-placement="rightBottom"  data-pointer-at-center="true">
              <span data-tooltip="I'm tooltip. Twelve">Twelve</span  data-pointer-at-center="true">
              <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <ol class="event-log">
      <!-- <li>log</li> -->
    </ol>
  </div>
  <!-- Dynamically generate data -->
  <script src="./script/createTooltip.js"></script>
  <script src="./script/script.js"></script>
</body>
</html>