<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style/reset.css">
	<link rel="stylesheet" href="./style/reset.user.css">
	<link rel="stylesheet" href="./style/color.css">
	<link rel="stylesheet" href="./style/button.css">
	<link rel="stylesheet" href="./style/style.css">
	<title>Icon Button</title>
</head>
<body>
	<div class="wrap">
		<button type="button" class="otter-btn">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link">
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link" disabled>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-dangerous">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-dangerous">
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-dangerous">
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-dangerous" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-dangerous" disabled>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-dangerous" disabled>
			<span>Search</span>
		</button>
	</div>
	<hr />
	<div class="wrap">
		<button type="button" class="otter-btn">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<hr />
	<div class="wrap">
		<!-- TODO: Show tooltips when content has only icons -->
		<button type="button" class="otter-btn otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-circle otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-circle otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-circle otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-circle otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-circle otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-circle otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-circle otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-circle otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-circle otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-circle otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<hr />
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-circle otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-circle otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-circle otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-circle otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-circle otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-circle otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-circle otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-circle otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-text otter-btn-circle otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-link otter-btn-circle otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<hr />
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary"><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only"  disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary" disabled>
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-dashed otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-dashed otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<hr />
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous">
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous" disabled>
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-dashed otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-dashed otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-dashed otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<hr />
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-sm"><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-sm" disabled>
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous">
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous" disabled>
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-lg"><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-icon-only otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-dangerous otter-btn-lg" disabled>
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-dangerous otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-dangerous otter-btn-icon-only otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<hr />
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-sm"><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only otter-btn-sm">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-sm" disabled>
			<span>A</span>
		</button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only otter-btn-sm" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary"><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary" disabled><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-lg"><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only otter-btn-lg">
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<div class="wrap">
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-lg" disabled><span>A</span></button>
		<button type="button" class="otter-btn otter-btn-primary otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
			<span>Search</span>
		</button>
		<button type="button" class="otter-btn otter-btn-default otter-btn-icon-only otter-btn-lg" disabled>
			<span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
		</button>
	</div>
	<!-- Place your kit's code here -->
	<!-- <script src="https://kit.fontawesome.com/39bc76b784.js" crossorigin="anonymous"></script> -->
</body>
</html>