<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/button.css">
  <link rel="stylesheet" href="./style/tooltip.css">
  <link rel="stylesheet" href="./style/animation.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Icon Button</title>
</head>
<body>
  <div class="wrap">
    <div style="margin: 0.5em">
      <button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="1" data-placement="topLeft">
        <span data-tooltip="Search. One"><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </button>
      <button type="button" class="otter-btn otter-btn-circle otter-btn-primary"><span>A</span></button>
      <button type="button" class="otter-btn otter-btn-primary">
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
      <button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="2">
        <span data-tooltip="Search. Two"><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </button>
      <button type="button" class="otter-btn otter-btn-default">
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
    </div>
    <div style="margin: 0.5em">
      <button type="button" class="otter-btn otter-btn-circle otter-btn-primary otter-btn-icon-only"  disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
      </button>
      <button type="button" class="otter-btn otter-btn-circle otter-btn-primary" disabled>
        <span>A</span>
      </button>
      <button type="button" class="otter-btn otter-btn-primary" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
      <button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
      </button>
      <button type="button" class="otter-btn otter-btn-default" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
    </div>
    <div style="margin: 0.5em">
      <button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="3" data-placement="topLeft">
        <span data-tooltip="Search. Three"><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </button>
      <button type="button" class="otter-btn otter-btn-default">
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
      <button type="button" class="otter-btn otter-btn-circle otter-btn-dashed otter-btn-icon-only otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="4" data-placement="top">
        <span data-tooltip="Search. Four"><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </button>
      <button type="button" class="otter-btn otter-btn-dashed">
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
      <button type="button" class="otter-btn otter-btn-default otter-btn-icon-only otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="5" data-placement="topRight">
        <span data-tooltip="Search. Five"><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span class="spacial-letter-down a11y-hidden" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </button>
    </div>
    <div style="margin: 0.5em">
      <button type="button" class="otter-btn otter-btn-circle otter-btn-default otter-btn-icon-only" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
      </button>
      <button type="button" class="otter-btn otter-btn-default" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
      <button type="button" class="otter-btn otter-btn-circle otter-btn-dashed otter-btn-icon-only" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
      </button>
      <button type="button" class="otter-btn otter-btn-dashed" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
        <span>Search</span>
      </button>
      <button type="button" class="otter-btn otter-btn-default otter-btn-icon-only" disabled>
        <span><i class="ottericon magnifying-glass" role="img" aria-label="Magnifier-shaped search icon"></i></span>
      </button>
    </div>
    <ol class="event-log">
      <!-- <li>log</li> -->
    </ol>
  </div>
  <!-- Dynamically generate data -->
  <script src="./script/createTooltip.js"></script>
  <script src="./script/script.js"></script>
</body>
</html>