<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/space.css">
  <link rel="stylesheet" href="./style/button.css">
  <link rel="stylesheet" href="./style/tooltip.css">
  <link rel="stylesheet" href="./style/animation.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Icon Button</title>
</head>
<body>
  <div class="wrap">
    <div style="padding: 80px 0;">
      <div class="otter-space otter-space-flex otter-space-vertical otter-space-align-center otter-space-vertical-gap-8">
        <div class="otter-space-item">
          <div class="otter-space otter-space-horizontal otter-space-align-center otter-space-horizontal-gap-8">
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. One" data-button-icon="search"></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-shape="circle"><span>A</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-icon="search"><span>Search</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. Two" data-button-icon="search"></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-icon="search"><span>Search</span></button>
            </div>
          </div>
        </div>
        <div class="otter-space-item">
          <div class="otter-space otter-space-horizontal otter-space-align-center otter-space-horizontal-gap-8">
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. Three" data-button-icon="search" disabled></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-shape="circle" disabled><span>A</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-icon="search" disabled><span>Search</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. Four" data-button-icon="search" disabled></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-icon="search" disabled><span>Search</span></button>
            </div>
          </div>
        </div>
        <div class="otter-space-item">
          <div class="otter-space otter-space-horizontal otter-space-align-center otter-space-horizontal-gap-8">
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. Five" data-button-icon="search"></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" data-button-icon="search"><span>Search</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="dashed" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. Six" data-button-icon="search"></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="dashed" data-button-icon="search"><span>Search</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-trigger="tooltip" data-tooltip-title="Go to Google" data-button-icon="google" data-button-link="http://www.google.com/search"></button>
            </div>
          </div>
        </div>
        <div class="otter-space-item">
          <div class="otter-space otter-space-horizontal otter-space-align-center otter-space-horizontal-gap-8">
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. Eight" data-button-icon="search" disabled></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-icon="search" disabled><span>Search</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="dashed" data-button-shape="circle" data-button-trigger="tooltip" data-tooltip-title="Search. Nine" data-button-icon="search" disabled></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="dashed" data-button-icon="search" disabled><span>Search</span></button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" data-button-trigger="tooltip" data-tooltip-title="Search. Ten" data-button-icon="search" disabled></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="event-log-tooltip">
      <!-- <li>log</li> -->
    </ol>
    <ol class="event-log-button">
      <!-- <li>log</li> -->
    </ol>
  </div>
  <!-- Dynamically generate data -->
  <script src="./script/button.js"></script>
  <script src="./script/createTooltip.js"></script>
  <script src="./script/script.js"></script>
</body>
</html>