.otter-dropdown {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.otter-dropdown {
  font-size: 14px;
  font-variant: tabular-nums;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  line-height: 1.5715;
  color: var(--otter-dropdown);
}

.otter-dropdown-trigger .spacial-letter-down {
  position: relative;
  top: 2px;
  display: inline-block;
  color: var(--otter-dropdown-specail-letter-down);
  -webkit-transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, transform 0.3s;
  transition: top 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.otter-dropdown-trigger.otter-dropdown-open .spacial-letter-down {
  position: relative;
  top: -2px;
  left: 0;
  color: var(--otter-dropdown-specail-letter-down-hover);
  -webkit-transform: rotate(0.5turn);
  transform: rotate(0.5turn);
}

.otter-dropdown {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: block;
  z-index: 1050;
}

.otter-dropdown:before {
  position: absolute;
  top: -4px;
  right: 0;
  bottom: -4px;
  left: -7px;
  z-index: -9999;
  opacity: 0.0001;
  content: ' ';
}

.otter-dropdown-hidden,
.otter-dropdown-menu-hidden,
.otter-dropdown-menu-submenu-hidden {
  display: none;
}

.otter-dropdown-visible {
  display: block;
}

.otter-dropdown-show-arrow.otter-dropdown-placement-default, .otter-dropdown-show-arrow.otter-dropdown-placement-topLeft, .otter-dropdown-show-arrow.otter-dropdown-placement-top, .otter-dropdown-show-arrow.otter-dropdown-placement-topRight, .otter-dropdown-show-arrow.otter-dropdown-placement-bottomLeft, .otter-dropdown-show-arrow.otter-dropdown-placement-bottom, .otter-dropdown-show-arrow.otter-dropdown-placement-bottomRight,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-default,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-topLeft,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-top,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-topRight,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-bottomLeft,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-bottom,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-bottomRight,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-default,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-topLeft,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-top,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-topRight,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-bottomLeft,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-bottom,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-bottomRight {
  padding-top: 15px;
  padding-bottom: 15px;
}

.otter-dropdown-show-arrow.otter-dropdown-placement-leftTop, .otter-dropdown-show-arrow.otter-dropdown-placement-left, .otter-dropdown-show-arrow.otter-dropdown-placement-leftBottom, .otter-dropdown-show-arrow.otter-dropdown-placement-rightTop, .otter-dropdown-show-arrow.otter-dropdown-placement-right, .otter-dropdown-show-arrow.otter-dropdown-placement-rightBottom,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-leftTop,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-left,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-leftBottom,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-rightTop,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-right,
.otter-dropdown-show-arrow-black.otter-dropdown-placement-rightBottom,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-leftTop,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-left,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-leftBottom,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-rightTop,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-right,
.otter-dropdown-show-arrow-light.otter-dropdown-placement-rightBottom {
  padding-left: 15px;
  padding-right: 15px;
}

.otter-dropdown-arrow-light {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid var(--otter-dropdown-arrow-light-background);
  -webkit-transform: rotate(180deg) translateY(11px);
          transform: rotate(180deg) translateY(11px);
  pointer-events: none;
}

.otter-dropdown-arrow-black {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid var(--otter-dropdown-arrow-black-background);
  -webkit-transform: rotate(180deg) translateY(11px);
          transform: rotate(180deg) translateY(11px);
  pointer-events: none;
}

.otter-dropdown-placement-top > .otter-dropdown-arrow-black,
.otter-dropdown-placement-top > .otter-dropdown-arrow-light,
.otter-dropdown-placement-topLeft > .otter-dropdown-arrow-black,
.otter-dropdown-placement-topLeft > .otter-dropdown-arrow-light,
.otter-dropdown-placement-topRight > .otter-dropdown-arrow-black,
.otter-dropdown-placement-topRight > .otter-dropdown-arrow-light {
  bottom: 8px;
  -webkit-box-shadow: 3px 3px 7px -3px var(--otter-dropdown-arrow-top-box-shadow);
          box-shadow: 3px 3px 7px -3px var(--otter-dropdown-arrow-top-box-shadow);
  -webkit-transform: rotate(0deg) translateY(11px);
          transform: rotate(0deg) translateY(11px);
}

.otter-dropdown-placement-top > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-top > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-topLeft > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-topLeft > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-topRight > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-topRight > .otter-dropdown-arrow-light:last-child {
  top: -3px;
  -webkit-transform: rotate(180deg) translateY(0);
          transform: rotate(180deg) translateY(0);
}

.otter-dropdown-placement-default > .otter-dropdown-arrow-black,
.otter-dropdown-placement-default > .otter-dropdown-arrow-light,
.otter-dropdown-placement-bottom > .otter-dropdown-arrow-black,
.otter-dropdown-placement-bottom > .otter-dropdown-arrow-light,
.otter-dropdown-placement-bottomLeft > .otter-dropdown-arrow-black,
.otter-dropdown-placement-bottomLeft > .otter-dropdown-arrow-light,
.otter-dropdown-placement-bottomRight > .otter-dropdown-arrow-black,
.otter-dropdown-placement-bottomRight > .otter-dropdown-arrow-light {
  top: 8px;
  -webkit-box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
          box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
}

.otter-dropdown-placement-default > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-default > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-bottom > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-bottom > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-bottomLeft > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-bottomLeft > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-bottomRight > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-bottomRight > .otter-dropdown-arrow-light:last-child {
  top: initial;
  -webkit-transform: rotate(0) translateY(0);
          transform: rotate(0) translateY(0);
}

.otter-dropdown-placement-top > .otter-dropdown-arrow-black,
.otter-dropdown-placement-top > .otter-dropdown-arrow-light,
.otter-dropdown-placement-bottom > .otter-dropdown-arrow-black,
.otter-dropdown-placement-bottom > .otter-dropdown-arrow-light {
  left: calc(50% - 9px);
}

.otter-dropdown-placement-default > .otter-dropdown-arrow-black,
.otter-dropdown-placement-default > .otter-dropdown-arrow-light,
.otter-dropdown-placement-topLeft > .otter-dropdown-arrow-black,
.otter-dropdown-placement-topLeft > .otter-dropdown-arrow-light,
.otter-dropdown-placement-bottomLeft > .otter-dropdown-arrow-black,
.otter-dropdown-placement-bottomLeft > .otter-dropdown-arrow-light {
  left: 12px;
}

.otter-dropdown-placement-topRight > .otter-dropdown-arrow-black,
.otter-dropdown-placement-topRight > .otter-dropdown-arrow-light,
.otter-dropdown-placement-bottomRight > .otter-dropdown-arrow-black,
.otter-dropdown-placement-bottomRight > .otter-dropdown-arrow-light {
  right: 12px;
}

.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-black,
.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-light,
.otter-dropdown-placement-left > .otter-dropdown-arrow-black,
.otter-dropdown-placement-left > .otter-dropdown-arrow-light,
.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-black,
.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-light {
  right: -3px;
  -webkit-box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
          box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
}

.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-left > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-left > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-light:last-child {
  left: -3px;
  -webkit-box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
          box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
}

.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-black,
.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-light {
  top: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(270deg) translateX(0);
          transform: rotate(270deg) translateX(0);
}

.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-leftTop > .otter-dropdown-arrow-light:last-child {
  top: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(90deg) translateX(0);
          transform: rotate(90deg) translateX(0);
}

.otter-dropdown-placement-left > .otter-dropdown-arrow-black,
.otter-dropdown-placement-left > .otter-dropdown-arrow-light {
  top: calc( 50% - 9px);
  -webkit-transform: rotate(270deg) translateX(calc(50% - 9px));
          transform: rotate(270deg) translateX(calc(50% - 9px));
}

.otter-dropdown-placement-left > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-left > .otter-dropdown-arrow-light:last-child {
  top: calc( 50% - 9px);
  -webkit-transform: rotate(90deg) translateX(0);
          transform: rotate(90deg) translateX(0);
}

.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-black,
.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-light {
  bottom: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(270deg) translateX(calc(50% - 9px));
          transform: rotate(270deg) translateX(calc(50% - 9px));
}

.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-leftBottom > .otter-dropdown-arrow-light:last-child {
  bottom: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(90deg) translateX(calc(50% - 9px));
          transform: rotate(90deg) translateX(calc(50% - 9px));
}

.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-black,
.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-light,
.otter-dropdown-placement-right > .otter-dropdown-arrow-black,
.otter-dropdown-placement-right > .otter-dropdown-arrow-light,
.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-black,
.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-light {
  left: -3px;
  -webkit-box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
          box-shadow: 2px 2px 5px -2px var(--otter-dropdown-arrow-bottom-box-shadow);
}

.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-right > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-right > .otter-dropdown-arrow-light:last-child,
.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-light:last-child {
  left: calc(100% - 15px);
}

.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-black,
.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-light {
  top: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(90deg) translateX(0);
          transform: rotate(90deg) translateX(0);
}

.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-rightTop > .otter-dropdown-arrow-light:last-child {
  top: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(270deg) translateX(calc(50% - 9px));
          transform: rotate(270deg) translateX(calc(50% - 9px));
}

.otter-dropdown-placement-right > .otter-dropdown-arrow-black,
.otter-dropdown-placement-right > .otter-dropdown-arrow-light {
  top: calc( 50% - 9px);
  -webkit-transform: rotate(90deg) translateX(calc(50% - 9px));
          transform: rotate(90deg) translateX(calc(50% - 9px));
}

.otter-dropdown-placement-right > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-right > .otter-dropdown-arrow-light:last-child {
  top: calc( 50% - 9px);
  -webkit-transform: rotate(270deg) translateX(calc(50% - 9px));
          transform: rotate(270deg) translateX(calc(50% - 9px));
}

.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-black,
.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-light {
  bottom: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(90deg) translateX(calc(50% - 9px));
          transform: rotate(90deg) translateX(calc(50% - 9px));
}

.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-black:last-child,
.otter-dropdown-placement-rightBottom > .otter-dropdown-arrow-light:last-child {
  bottom: calc(18px / 2.571428571428571);
  -webkit-transform: rotate(270deg) translateX(calc(50% - 9px));
          transform: rotate(270deg) translateX(calc(50% - 9px));
}

.otter-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  list-style-type: none;
  border-radius: 2px;
  background-color: var(--otter-dropdown-background);
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
  outline: none;
}

.otter-dropdown-menu.otter-dropdown-menu-black {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.otter-dropdown-menu-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otter-dropdown-menu-title-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.otter-dropdown-menu-title-content > a {
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.otter-dropdown-menu-title-content > a:hover {
  color: inherit;
}

.otter-dropdown-menu-title-content > a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.otter-dropdown-menu-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.otter-dropdown-menu-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.otter-dropdown-menu-item {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: var(--otter-dropdown-item);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.otter-dropdown-menu-item:hover {
  background-color: var(--otter-dropdown-item-hover-background);
}

.otter-dropdown-menu-item-disabled {
  color: var(--otter-dropdown-disabled-item);
  cursor: not-allowed;
}

.otter-dropdown-menu-item-disabled:hover {
  color: var(--otter-dropdown-disabled-item-hover);
  background-color: var(--otter-dropdown-disabled-item-hover-background);
  cursor: not-allowed;
}

.otter-dropdown-menu-item-disabled a {
  pointer-events: none;
}

.otter-dropdown-menu-light {
  background-color: var(--otter-dropdown-light-background);
}

.otter-dropdown-menu-light.otter-dropdown-menu-vertical .otter-dropdown-menu-item-divider,
.otter-dropdown-menu-light.otter-dropdown-menu-vertical .otter-dropdown-menu-submenu-title-divider {
  width: 100%;
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 1px;
}

.otter-dropdown-menu-light.otter-dropdown-menu-horizontal .otter-dropdown-menu-item-divider,
.otter-dropdown-menu-light.otter-dropdown-menu-horizontal .otter-dropdown-menu-submenu-title-divider {
  width: 1px;
  height: 32px;
  margin: 0 4px;
  overflow: hidden;
  line-height: 32px;
}

.otter-dropdown-menu-light .otter-dropdown-menu-item-divider,
.otter-dropdown-menu-light .otter-dropdown-menu-submenu-title-divider {
  background-color: var(--otter-dropdown-light-item-divider-background);
}

.otter-dropdown-menu-light .otter-dropdown-menu-item {
  color: var(--otter-dropdown-light-item);
}

.otter-dropdown-menu-light .otter-dropdown-menu-item:hover {
  background-color: var(--otter-dropdown-light-item-hover-background);
}

.otter-dropdown-menu-light .otter-dropdown-menu-item-disabled {
  color: var(--otter-dropdown-light-disabled-item);
}

.otter-dropdown-menu-light .otter-dropdown-menu-item-disabled:hover {
  color: var(--otter-dropdown-light-disabled-item-hover);
  background-color: var(--otter-dropdown-light-disabled-item-hover-background);
}

.otter-dropdown-menu-black {
  background-color: var(--otter-dropdown-black-background);
}

.otter-dropdown-menu-black.otter-dropdown-menu-vertical .otter-dropdown-menu-item-divider,
.otter-dropdown-menu-black.otter-dropdown-menu-vertical .otter-dropdown-menu-submenu-title-divider {
  width: 100%;
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 1px;
}

.otter-dropdown-menu-black.otter-dropdown-menu-horizontal .otter-dropdown-menu-item-divider,
.otter-dropdown-menu-black.otter-dropdown-menu-horizontal .otter-dropdown-menu-submenu-title-divider {
  width: 1px;
  height: 32px;
  margin: 0 4px;
  overflow: hidden;
  line-height: 32px;
}

.otter-dropdown-menu-black .otter-dropdown-menu-item-divider,
.otter-dropdown-menu-black .otter-dropdown-menu-submenu-title-divider {
  background-color: var(--otter-dropdown-black-item-divider-background);
}

.otter-dropdown-menu-black .otter-dropdown-menu-item {
  color: var(--otter-dropdown-black-item);
}

.otter-dropdown-menu-black .otter-dropdown-menu-item:hover {
  background-color: var(--otter-dropdown-black-item-hover-background);
}

.otter-dropdown-menu-black .otter-dropdown-menu-item-disabled {
  color: var(--otter-dropdown-black-disabled-item);
}

.otter-dropdown-menu-black .otter-dropdown-menu-item-disabled:hover {
  color: var(--otter-dropdown-black-disabled-item-hover);
  background-color: var(--otter-dropdown-black-disabled-item-hover-background);
}

.otter-dropdown-menu-item.otter-dropdown-menu-item-danger {
  color: var(--otter-dropdown-item-danger);
}

.otter-dropdown-menu-item.otter-dropdown-menu-item-danger:hover {
  color: var(--otter-dropdown-item-danger-hover);
  background-color: var(--otter-dropdown-item-danger-item-hover-background);
}
/*# sourceMappingURL=dropdown.css.map */