@charset 'utf-8';

:root {
	--otter-primary-color: rgba(24, 144, 255, 1);
  --otter-primary-color-hover: rgba(64, 169, 255, 1);
  --otter-primary-color-active: rgba(9, 109, 217, 1);
  --otter-primary-color-outline: rgba(24, 144, 255, .2);
  --otter-btn-spacing: 8px;
  --otter-btn-primary: rgba(255, 255, 255, 1);
  --otter-btn-primary-bg: rgba(24, 144, 255, 1);
  --otter-btn-primary-border: rgba(24, 144, 255, 1);
  --otter-btn-primary-box-shadow: rgba(0, 0, 0, 0.05);
  --otter-btn-primary-text-shadow: rgba(0, 0, 0, 0.12);
  --otter-btn-default: rgba(0, 0, 0, 0.85);
  --otter-btn-default-bg: rgba(255, 255, 255, 1);
  --otter-btn-default-border: rgba(217, 217, 217, 1);
  --otter-btn-default-box-shadow: rgba(0, 0, 0, 0.02);
  --otter-btn-dashed: rgba(0, 0, 0, 0.85);
  --otter-btn-dashed-bg: rgba(255, 255, 255, 1);
  --otter-btn-dashed-border: rgba(217, 217, 217, 1);
  --otter-btn-dashed-box-shadow: rgba(0, 0, 0, 0.02);
  --otter-btn-text: rgba(0, 0, 0, 0.85);
  --otter-btn-text-bg: rgba(0, 0, 0, 0); // transparent 
  --otter-btn-text-bg-hover: rgba(0, 0, 0, 0.018);
  --otter-btn-text-border: rgba(0, 0, 0, 0); // transparent
  --otter-btn-text-box-shadow: none;
  --otter-btn-link: rgba(24, 144, 255, 1)  ;
  --otter-btn-link-bg: rgba(0, 0, 0, 0); // transparent
  --otter-btn-link-border: rgba(0, 0, 0, 0); // transparent
  --otter-btn-link-box-shadow: none;
  --otter-btn-disabled-default: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-default-bg: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-border:rgba(217, 217, 217, 1);
  --otter-btn-disabled-default-box-shadow: none;
  --otter-btn-disabled-default-text-shadow: none;
  --otter-btn-disabled-text: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-text-bg: 0 0;
  --otter-btn-disabled-text-border: rgba(0, 0, 0, 0); // transparent
  --otter-btn-disabled-text-box-shadow: none;
  --otter-btn-disabled-text-text-shadow: none;
}

.otter-btn {
	height: 32px;
	padding: 4px 15px;
	border: 1px solid transparent;
	border-color: var(--otter-btn-default-border);
	border-radius: 2px;
	background: var(--otter-btn-default-bg);
	background-image: none;
	box-shadow: 0 2px 0 var(--otter-btn-default-box-shadow);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5715;
	color: var(--otter-btn-default);
	transition: all .3s cubic-bezier(0.22, 0.68, 0, 1);
  &:hover,
  &:focus {
    border-color: var(--otter-primary-color-hover);
    background: var(--otter-btn-default-bg);
    color: var(--otter-primary-color-hover);
    text-decoration: none;
  }
  &:hover>a:only-child,
  &:focus>a:only-child {
    @extend %otter-btn-a-child-shared;
  }
  &:hover>a:only-child:after,
  &:focus>a:only-child:after {
    @extend %otter-btn-a-child-after-shared;
  }
  &+& {
    margin-left: var(--otter-btn-spacing);
  }  
}

.otter-btn-default {
  border-style: solid;
  border-color: var(--otter-btn-default-border);
  background: var(--otter-btn-default-bg);
  box-shadow: 0 2px 0 var(--otter-btn-default-box-shadow);
  color: var(--otter-btn-default);
}

.otter-btn-primary {
  border-style: solid;
  border-color: var(--otter-btn-primary-border);
  background: var(--otter-btn-primary-bg);
  box-shadow: 0 2px 0 var(--otter-btn-primary-box-shadow);
  color: var(--otter-btn-primary);
  &:hover,
  &:focus {
    border-color: var(--otter-primary-color-hover);
    background: var(--otter-primary-color-hover);
    color: var(--otter-btn-primary);
  }
  &:hover>a:only-child,
  &:focus>a:only-child {
    @extend %otter-btn-a-child-shared;
  }
  &:hover>a:only-child:after,
  &:focus>a:only-child:after {
    @extend %otter-btn-a-child-after-shared;
  }
}

.otter-btn-dashed {
  border-style: dashed;
  border-color: var(--otter-btn-dashed-border);
  background: var(--otter-btn-dashed-bg);
  box-shadow: 0 2px 0 var(--otter-btn-dashed-box-shadow);
  color: var(--otter-btn-dashed);
  &:hover,
  &:focus {
    border-color: var(--otter-primary-color-hover);
    background: var(--otter-btn-dashed-bg);
    color: var(--otter-primary-color-hover);
  }
  &:hover>a:only-child,
  &:focus>a:only-child {
    @extend %otter-btn-a-child-shared;
  }
  &:hover>a:only-child:after,
  &:focus>a:only-child:after {
    @extend %otter-btn-a-child-after-shared;
  }
}

.otter-btn-text {
  border-style: none;
  border-color: var(--otter-btn-text-border);
  background: var(--otter-btn-text-bg);
  box-shadow: 0 2px 0 var(--otter-btn-text-box-shadow);
  color: var(--otter-btn-text);
  &:hover,
  &:focus {
    border-color: var(--otter-btn-text-border);
    background: var(--otter-btn-text-bg-hover);
    color: var(--otter-btn-text);
  }
  &:hover>a:only-child,
  &:focus>a:only-child {
    @extend %otter-btn-a-child-shared;
  }
  &:hover>a:only-child:after,
  &:focus>a:only-child:after {
    @extend %otter-btn-a-child-after-shared;
  }
}

.otter-btn-link {
  border-style: none;
  border-color: var(--otter-btn-link-border);
  background: var(--otter-btn-link-bg);
  box-shadow: 0 2px 0 var(--otter-btn-link-box-shadow);
  color: var(--otter-btn-link);
  &:hover,
  &:focus {
    border-color: var(--otter-primary-color-hover);
    background: var(--otter-btn-link-bg);
    color: var(--otter-primary-color-hover);
  }
  &:hover>a:only-child,
  &:focus>a:only-child {
    @extend %otter-btn-a-child-shared;
  }
  &:hover>a:only-child:after,
  &:focus>a:only-child:after {
    @extend %otter-btn-a-child-after-shared;
  }
}

.otter-btn[disabled],
.otter-btn[disabled]:hover,
.otter-btn[disabled]:focus,
.otter-btn[disabled]:active {
  @extend %disabled-default-style-shared;
}
.otter-btn[disabled]>a:only-child,
.otter-btn[disabled]:hover>a:only-child,
.otter-btn[disabled]:focus>a:only-child,
.otter-btn[disabled]:active>a:only-child {
  @extend %otter-btn-a-child-shared;
}
.otter-btn[disabled]>a:only-child:after,
.otter-btn[disabled]:hover>a:only-child:after,
.otter-btn[disabled]:focus>a:only-child:after,
.otter-btn[disabled]:active>a:only-child:after {
  @extend %otter-btn-a-child-after-shared;
}
.otter-btn-primary[disabled],
.otter-btn-primary[disabled]:hover,
.otter-btn-primary[disabled]:focus,
.otter-btn-primary[disabled]:active {
  @extend %disabled-default-style-shared;
}
.otter-btn-primary[disabled]>a:only-child,
.otter-btn-primary[disabled]:hover>a:only-child,
.otter-btn-primary[disabled]:focus>a:only-child,
.otter-btn-primary[disabled]:active>a:only-child {
  @extend %otter-btn-a-child-shared;
}
.otter-btn-primary[disabled]>a:only-child:after,
.otter-btn-primary[disabled]:hover>a:only-child:after,
.otter-btn-primary[disabled]:focus>a:only-child:after,
.otter-btn-primary[disabled]:active>a:only-child:after {
  @extend %otter-btn-a-child-after-shared;
}
.otter-btn-dashed[disabled],
.otter-btn-dashed[disabled]:hover,
.otter-btn-dashed[disabled]:focus,
.otter-btn-dashed[disabled]:active {
  @extend %disabled-default-style-shared;
}
.otter-btn-dashed[disabled]>a:only-child,
.otter-btn-dashed[disabled]:hover>a:only-child,
.otter-btn-dashed[disabled]:focus>a:only-child,
.otter-btn-dashed[disabled]:active>a:only-child {
  @extend %otter-btn-a-child-shared;
}
.otter-btn-dashed[disabled]>a:only-child:after,
.otter-btn-dashed[disabled]:hover>a:only-child:after,
.otter-btn-dashed[disabled]:focus>a:only-child:after,
.otter-btn-dashed[disabled]:active>a:only-child:after {
  @extend %otter-btn-a-child-after-shared;
}
.otter-btn-text[disabled],
.otter-btn-text[disabled]:hover,
.otter-btn-text[disabled]:focus,
.otter-btn-text[disabled]:active {
  @extend %disabled-text-style-shared;
}
.otter-btn-text[disabled]>a:only-child,
.otter-btn-text[disabled]:hover>a:only-child,
.otter-btn-text[disabled]:focus>a:only-child,
.otter-btn-text[disabled]:active>a:only-child {
  @extend %otter-btn-a-child-shared;
}
.otter-btn-text[disabled]>a:only-child:after,
.otter-btn-text[disabled]:hover>a:only-child:after,
.otter-btn-text[disabled]:focus>a:only-child:after,
.otter-btn-text[disabled]:active>a:only-child:after {
  @extend %otter-btn-a-child-after-shared;
}
.otter-btn-link[disabled],
.otter-btn-link[disabled]:hover,
.otter-btn-link[disabled]:focus,
.otter-btn-link[disabled]:active {
  @extend %disabled-link-style-shared;
}
.otter-btn-link[disabled]>a:only-child,
.otter-btn-link[disabled]:hover>a:only-child,
.otter-btn-link[disabled]:focus>a:only-child,
.otter-btn-link[disabled]:active>a:only-child {
  @extend %otter-btn-a-child-shared;
}
.otter-btn-link[disabled]>a:only-child:after,
.otter-btn-link[disabled]:hover>a:only-child:after,
.otter-btn-link[disabled]:focus>a:only-child:after,
.otter-btn-link[disabled]:active>a:only-child:after {
  @extend %otter-btn-a-child-after-shared;
}


// - hover
// - active
// - focus
// - focus-whithin
// - Chain Reaction

/* This CSS will print because %disabled-default-style-shared is extended. */
%disabled-default-style-shared {
  border-color: var(--otter-btn-disabled-default-border);
  background: var(--otter-btn-disabled-default-bg);
  box-shadow: var(--otter-btn-disabled-default-box-shadow);
  color: var(--otter-btn-disabled-default);
  text-shadow: var(--otter-btn-disabled-default-text-shadow);
}
%disabled-link-style-shared,
%disabled-text-style-shared {
	border-color: var(--otter-btn-disabled-text-border);
  background: var(--otter-btn-disabled-text-bg);
	box-shadow: var(--otter-btn-disabled-text-box-shadow);
	color: var(--otter-btn-disabled-text);
	text-shadow: var(--otter-btn-disabled-text-text-shadow);
}
%otter-btn-a-child-shared {
	color: currentcolor;
}
%otter-btn-a-child-after-shared {
	position: absolute;
	inset: 0;
	content: "";
	background: 0 0;
}