@charset "utf-8";

:root {
  --otter-black: rgba(0. 0, 0, 1);
  --otter-white: rgba(255, 255, 255, 1);
  --otter-transparent: rgba(0. 0, 0, 0);

	--otter-ftbck-title: rgba(0, 0, 0, 0.85);	
	--otter-ftbck-primary-text: rgba(0, 0, 0, 0.65);	
	--otter-ftbck-secondary-text: rgba(0, 0, 0, 0.45);	
	--otter-ftbck-disable: rgba(0, 0, 0, 0.25);	
	--otter-ftbck-border: rgba(0, 0, 0, 0.15);	
	--otter-ftbck-dividers: rgba(0, 0, 0, 0.06);	
	--otter-ftbck-background: rgba(0, 0, 0, 0.04);	
	--otter-ftbck-table-header: rgba(0, 0, 0, 0.02);

	--otter-ftwht-title: rgba(255, 255, 255, 0.85);	
	--otter-ftwht-primary-text: rgba(255, 255, 255, 0.65);	
	--otter-ftwht-secondary-text: rgba(255, 255, 255, 0.45);	
	--otter-ftwht-disable: rgba(255, 255, 255, 0.30);	
	--otter-ftwht-border: rgba(255, 255, 255, 0.20);	
	--otter-ftwht-dividers: rgba(255, 255, 255, 0.12);	
	--otter-ftwht-background: rgba(255, 255, 255, 0.08);	
	--otter-ftwht-table-header: rgba(255, 255, 255, 0.04);	

	--otter-primary-color: rgba(24, 144, 255, 1);
  --otter-primary-color-hover: rgba(64, 169, 255, 1);
  --otter-primary-color-active: rgba(9, 109, 217, 1);
  --otter-primary-color-outline: rgba(24, 144, 255, 0.20);

  --otter-radio-title: var(--otter-ftbck-title);
  --otter-radio-border: rgba(217, 217, 217, 1);
  --otter-radio-border-hover: var(--otter-primary-color);
  --otter-radio-checked-border: var(--otter-primary-color);
  --otter-radio-border-box-shadow: rgba(230, 247, 255, 1);
  --otter-radio-bg: var(--otter-white);
  --otter-radio-bg-after: var(--otter-primary-color);
  
  --otter-radio-disabled-bg: rgba(245, 245, 245, 1);
  --otter-radio-disabled-bg-after: rgba(0, 0, 0, 0.2);
  --otter-radio-disabled-span: var(--otter-ftbck-disable);
  --otter-radio-disabled-border: var(--otter-radio-border);

  --otter-btn-primary: var(--otter-white);
  --otter-btn-primary-hover: var(--otter-white);
  --otter-btn-primary-border: var(--otter-primary-color);
  --otter-btn-primary-border-hover: var(--otter-primary-color);
  --otter-btn-primary-bg: var(--otter-primary-color);
  --otter-btn-primary-bg-hover: var(--otter-primary-color-hover);
  --otter-btn-primary-box-shadow: rgba(0, 0, 0, 0.05);
  --otter-btn-primary-text-shadow: rgba(0, 0, 0, 0.12);

  --otter-btn-dangerous: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-hover: rgba(255, 120, 117, 1);
  --otter-btn-dangerous-border: var(--otter-btn-dangerous);
  --otter-btn-dangerous-border-hover: var(--otter-btn-dangerous-hover);
  --otter-btn-dangerous-bg: var(--otter-white);
  --otter-btn-dangerous-bg-hover: var(--otter-white);
  --otter-btn-dangerous-box-shadow: var(--otter-btn-primary-box-shadow);
  --otter-btn-dangerous-text-shadow: var(--otter-btn-primary-text-shadow);

  --otter-btn-default: var(--otter-ftbck-title);
  --otter-btn-default-hover: var(--otter-primary-color-hover);
  --otter-btn-default-border: rgba(217, 217, 217, 1);
  --otter-btn-default-border-hover: var(--otter-primary-color-hover);
  --otter-btn-default-bg: var(--otter-white);
  --otter-btn-default-bg-hover: var(--otter-white);
  --otter-btn-default-box-shadow: rgba(0, 0, 0, 0.02);
  --otter-btn-default-text-shadow: none;

  --otter-btn-dashed: var(--otter-ftbck-title);
  --otter-btn-dashed-hover: var(--otter-primary-color-hover);
  --otter-btn-dashed-border: rgba(217, 217, 217, 1);
  --otter-btn-dashed-border-hover: var(--otter-primary-color-hover);
  --otter-btn-dashed-bg: var(--otter-white);
  --otter-btn-dashed-bg-hover: var(--otter-white);
  --otter-btn-dashed-box-shadow: var(--otter-btn-default-box-shadow);
  --otter-btn-dashed-text-shadow: none;

  --otter-btn-text: var(--otter-ftbck-title);
  --otter-btn-text-hover: var(--otter-primary-color-hover);
  --otter-btn-text-border: var(--otter-transparent);
  --otter-btn-text-border-hover: var(--otter-transparent);
  --otter-btn-text-bg: var(--otter-transparent);
  --otter-btn-text-bg-hover: rgba(0, 0, 0, 0.018);
  --otter-btn-text-box-shadow: none;
  --otter-btn-text-text-shadow: none;

  --otter-btn-link: var(--otter-primary-color);
  --otter-btn-link-hover: var(--otter-primary-color);
  --otter-btn-link-border: var(--otter-transparent);
  --otter-btn-link-border-hover: var(--otter-transparent);
  --otter-btn-link-bg: var(--otter-transparent);
  --otter-btn-link-bg-hover: var(--otter-transparent);
  --otter-btn-link-box-shadow: none;
  --otter-btn-link-text-shadow: none;

  --otter-btn-disabled-default: var(--otter-ftbck-disable);
  --otter-btn-disabled-default-hover: var(--otter-ftbck-disable);
  --otter-btn-disabled-default-border: var(--otter-btn-default-border);
  --otter-btn-disabled-default-border-hover: var(--otter-btn-default-border);
  --otter-btn-disabled-default-bg: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-bg-hover: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-box-shadow: none;
  --otter-btn-disabled-default-text-shadow: none;

  --otter-btn-disabled-text: var(--otter-ftbck-disable);
  --otter-btn-disabled-text-bg: 0 0;
  --otter-btn-disabled-text-border: var(--otter-transparent);
  --otter-btn-disabled-text-box-shadow: none;
  --otter-btn-disabled-text-text-shadow: none;

  --otter-btn-disabled-link: var(--otter-ftbck-disable);
  --otter-btn-disabled-link-border: var(--otter-transparent);
  --otter-btn-disabled-link-bg: var(--otter-transparent);
  --otter-btn-disabled-link-box-shadow: none;
  --otter-btn-disabled-link-text-shadow: none;
}
