@charset "utf-8";

.otter-slide-up-in {
  animation: otterSlideUpIn  .3s linear;
}
.otter-slide-up-out {
  animation: otterSlideUpOut  .3s linear;
}
.otter-slide-down-in {
  animation: otterSlideDownIn  .3s linear;
}
.otter-slide-down-out {
  animation: otterSlideDownOut  .3s linear;
}
.otter-slide-left-in {
  animation: otterSlideLeftIn  .3s linear;
}
.otter-slide-left-out {
  animation: otterSlideLeftOut  .3s linear;
}
.otter-slide-right-in {
  animation: otterSlideRightIn  .3s linear;
}
.otter-slide-right-out {
  animation: otterSlideRightOut  .3s linear;
}
.otter-btn {
  > .otter-btn-loading-icon .ottericon {
    animation: loadingCircle 1s infinite linear
  }
  &[disabled] {
    > .otter-btn-loading-icon .ottericon {
      animation: loadingCircle 1s infinite linear
    }
  }
} 
@keyframes loadingCircle {
  0% {
    transform: rotate(0) scale(0.70);
  }
  100% {
    transform: rotate(360deg) scale(0.70);
  }
}
@keyframes otterSlideUpIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes otterSlideUpOut {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
}
@keyframes otterSlideDownIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes otterSlideDownOut {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
}
@keyframes otterSlideLeftIn {
  0% {
    transform: scaleX(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes otterSlideLeftOut {
  0% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
}
@keyframes otterSlideRightIn {
  0% {
    transform: scaleX(0.8);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes otterSlideRightOut {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(0.8);
    transform-origin: 100% 0%;
    opacity: 0;
  }
}
