<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style/reset.css">
	<link rel="stylesheet" href="./style/reset.user.css">
	<link rel="stylesheet" href="./style/color.css">
	<link rel="stylesheet" href="./style/radio.css">
	<link rel="stylesheet" href="./style/style.css">
	<title>Basic Radio</title>
</head>
<body>
	<div class="wrap">
		<label class="otter-radio-wrapper" for="basic-radio">
      <span class="otter-radio">
        <input type="radio" class="otter-radio-input" id="basic-radio" name="basic-radio" value="basic-radio">
        <span class="otter-radio-inner"></span>
      </span>
      <span>Basic Radio</span>
    </label>
	</div>
<script src="./script/script.js"></script>
</body>
</html>