<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/divider.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Vertical Divider</title>
</head>
<body>
  <div class="wrap">
    <div style="padding: 80px 0">    
      Text
      <span class="otter-divider" data-divider-type="vertical" role="separator"></span>
      <a href="#">Link</a>
      <span class="otter-divider" data-divider-type="vertical" role="separator"></span>
      <a href="#">Link</a>
    </div>
    <ol class="event-log-divider">
      <!-- <li>log</li> -->
    </ol>
  </div>
  <script src="./script/divider.js"></script>
</body>
</html>
