@charset "utf-8";

@import url('https://css.gg/info.css');
@import url('https://css.gg/check-o.css');
@import url('https://css.gg/close-o.css');
@import url('https://css.gg/danger.css');
@import url('https://css.gg/spinner.css');
@import url('https://css.gg/bell.css');
@import url('https://css.gg/chevron-down.css');
@import url('https://css.gg/search.css');
@import url('https://css.gg/link.css');
@import url('https://css.gg/google.css');

.gg-google,
.gg-link,
.gg-search,
.gg-chevron-down,
.gg-bell,
.gg-spinner,
.gg-danger,
.gg-close-o,
.gg-check-o,
.gg-info {
  /* This value will multiple the actual size  */
  display: inline-block;
  vertical-align: middle;
  --ggs: 0.8;
}

.otter-btn-lg {
  .gg-search {
    --ggs: 1;
  }
}
.otter-btn-sm {
  .gg-search {
    --ggs: 0.6;
  }
}


%otter-body-font {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  color: var(--otter-body-font);
  line-height: 1.5715;
}

body {
  margin: 0;
  @extend %otter-body-font;
  background-color: var(--otter-body-background);
}

a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
  touch-action: manipulation;
}
a {
  outline: none;
  background-color: transparent;
  color: var(--otter-primary-color);
  text-decoration: none;
  text-decoration-skip: objects;
  transition: color 0.3s;
  cursor: pointer;
  &:hover {
    color: var(--otter-primary-color-hover);
  }
  &:active {
    color: var(--otter-primary-color-activeive);
  }
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    outline: 0;
  }
  &[disabled] {
    color: var(--otter-ftbck-disable);
    cursor: not-allowed;
  }
}
input, button, select, optgroup, textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button, input {
  overflow: visible;
}
input[type='radio'], input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
input[type="radio"] {
  cursor: pointer;
}
button {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
  &:not([disabled]) {
    &:hover {
      text-decoration: none;
    }
    &:active, &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }
}
hr {
  height: 53px;
  border: none;
  background: var(--otter-hr-background);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(217, 0%, 100%, 1)'/><path d='M0 10h20z'  transform='translate(5,0)' stroke-width='0.5' stroke='hsla(4, 0%, 82%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-16)' fill='url(%23a)'/></svg>");
  text-align: center;
}
hr:after {
  content: '§';
  position: relative;
  top:10px;
  left:-20px;
  display: inline-block;
  padding: 0 10px;
  background: var(--otter-hr-background);
  font-size: 18px;
  color: var(--otter-hr);
  transform: rotate(45deg);
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.spacial-letter-down.a11y-hidden {
  display: none;
  width: 0;
  margin-right: -3px;
  font-size: 0;
}
.wrap {
  margin: 1em;
  form {
    margin: 1em 0;
  }
}
.log-title-button,
.log-title-divider {
  margin: 1em 0;
}
.event-log-title-button,
.event-log-title-message,
.event-log-title-dropdown,
.event-log-title-loading,
.event-log-title-tooltip {
  display: none;
  margin: 1em 0;
}
.event-log-button,
.event-log-message,
.event-log-divider,
.event-log-dropdown,
.event-log-tooltip,
.event-log-loading,
.event-log {
  display: table;
  // display: flex;
  // flex-direction: column-reverse;
  // flex-wrap: no-wrap;
  counter-reset: count;
  margin: 0;
  padding: 0;
  li {
    counter-increment: count;
    &::before {
      content: "[" counter(count, decimal-leading-zero) "] == [" counter(count, lower-alpha) "]";
      padding-right: 1.5em;
      color: var(--otter-ftbck-disable);
    }
  }
  &::after {
    margin-left: -40px;
  }
}
.log-item,
.log-item-button,
.log-item-message,
.log-item-divider,
.log-item-dropdown,
.log-item-loading,
.log-item-tooltip {
  display: table-row;
  // display: flex;
  // flex-wrap: wrap;
  & .now-class,
  & .specified {
    color: var(--otter-ftbck-primary-text);
  }
  & .tooltip-title,
  & .tooltip-arrow,
  & .tooltip-txt,
  & .message-idx,
  & .message-txt,
  & .dropdown-idx,
  & .dropdown-txt,
  & .trigger-role,
  & .trigger-idx,
  & .trigger-txt,
  & .trigger-style,
  & .trigger-specified,
  & .trigger-orientation,
  & .trigger-orientation-margin,
  & .is-checked-danger,
  & .is-checked-disabled,
  & .is-checked-block,
  & .changed-class {
    color: var(--otter-ftbck-secondary-text);
  }
  & .tooltip-placement,
  & .tooltip-color,
  & .tooltip-theme,
  & .tooltip-idx,
  & .previous-idx,
  & .message-idx,
  & .message-cls,
  & .message-delay,
  & .message-theme,
  & .dropdown-idx,
  & .dropdown-arrow,
  & .trigger-target,
  & .trigger-link,
  & .trigger-icon,
  & .trigger-size,
  & .trigger-blocked,
  & .trigger-disabled,
  & .trigger-shape,
  & .trigger-dangerous,
  & .trigger-type,
  & .trigger-idx,
  & .trigger-cls,
  & .trigger-plc,
  & .trigger-loading-delay,
  & .trigger-loading,
  & .log-time {
    color: var(--otter-ftbck-disable);
  }
  & .trigger-orientation-margin {
    text-align: left;
  }
  & .message-delay,
  & .trigger-loading-delay {
    text-align: right;
  }
  & .tooltip-idx,
  & .previous-idx,
  & .message-idx,
  & .dropdown-idx,
  & .trigger-idx {
    text-align: center;
  }
  span {
    display:table-cell;
    padding-right: 1.5em;
  }
}
