<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/dropdown.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Basic Dropdown</title>
</head>
<body>
  <div class="wrap">
    <a href="javascript:void(0)" class="otter-dropdown-trigger otter-dropdown-link">Hover me <span class="spacial-letter-down">&#8744;</span></a>
  </div>
  <div style="position: absolute; top: 0; left: 0; width: 100%;">
    <div class="otter-dropdown otter-dropdown-hidden">
      <ul class="otter-dropdown-menu otter-dropdown-menu-root" role="menu" tabindex="0" data-menu-list="true">
        <li class="otter-dropdown-menu-item" role="menuitem" tabindex="-1" data-menu-id="dropdown-menu-vertical-light-tmp_key-0">
          <span class="otter-dropdown-menu-title-content">
            <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">1st menu item</a>
          </span>
        </li>
        <li class="otter-dropdown-menu-item" role="menuitem" tabindex="-1" data-menu-id="dropdown-menu-vertical-light-tmp_key-1">
          <span class="otter-dropdown-menu-title-content">
            <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">2st menu item</a>
          </span>
        </li>
        <li class="otter-dropdown-menu-item otter-dropdown-menu-item-disabled" role="menuitem" tabindex="-1" data-menu-id="dropdown-menu-vertical-light-tmp_key-2">
          <span class="otter-dropdown-menu-title-content">
            <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">3st menu item</a>
          </span>
        </li>
        <li class="otter-dropdown-menu-item" role="menuitem" tabindex="-1" data-menu-id="dropdown-menu-vertical-light-tmp_key-3">
          <span class="otter-dropdown-menu-title-content">
            <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">4st menu item</a>
          </span>
        </li>
      </ul>
    </div>
  </div> 
  <script src="./script/script.js"></script>
</body>
</html>