<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/divider.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Divider with title</title>
</head>
<body>
  <div class="wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-with-text" role="separator">
      <span class="otter-divider-inner-text">Text</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-with-text" data-orientation="left" role="separator">
      <span class="otter-divider-inner-text">Left Text</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-with-text" data-orientation="right" role="separator">
      <span class="otter-divider-inner-text">Right Text</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-with-text" data-orientation="left" data-orientation-margin="0" role="separator">
      <span class="otter-divider-inner-text">Left Text with '0' orientation-margin</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-with-text" data-orientation="right" data-orientation-margin="0" role="separator">
      <span class="otter-divider-inner-text">Right Text with '0' orientation-margin</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-with-text" data-orientation="left" data-orientation-margin="10%" role="separator">
      <span class="otter-divider-inner-text">Left Text with '10%' orientation-margin</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-with-text" data-orientation="right" data-orientation-margin="10%" role="separator">
      <span class="otter-divider-inner-text">Right Text with '10%' orientation-margin</span>
    </div>
  </div>
  <script src="./script/divider.js"></script>
</body>
</html>
