@charset "utf-8";

:root {
  --otter-black: rgba(0. 0, 0, 1);
  --otter-white: rgba(255, 255, 255, 1);
  --otter-transparent: rgba(0. 0, 0, 0);

  --otter-ftbck-title: rgba(0, 0, 0, 0.85);	
	--otter-ftbck-primary-text: rgba(0, 0, 0, 0.65);	
	--otter-ftbck-secondary-text: rgba(0, 0, 0, 0.45);	
	--otter-ftbck-disable: rgba(0, 0, 0, 0.25);	
	--otter-ftbck-border: rgba(0, 0, 0, 0.15);	
	--otter-ftbck-dividers: rgba(0, 0, 0, 0.06);	
	--otter-ftbck-background: rgba(0, 0, 0, 0.04);	
	--otter-ftbck-table-header: rgba(0, 0, 0, 0.02);

	--otter-ftwht-title: rgba(255, 255, 255, 0.85);	
	--otter-ftwht-primary-text: rgba(255, 255, 255, 0.65);	
	--otter-ftwht-secondary-text: rgba(255, 255, 255, 0.45);	
	--otter-ftwht-disable: rgba(255, 255, 255, 0.30);	
	--otter-ftwht-border: rgba(255, 255, 255, 0.20);	
	--otter-ftwht-dividers: rgba(255, 255, 255, 0.12);	
	--otter-ftwht-background: rgba(255, 255, 255, 0.08);	
	--otter-ftwht-table-header: rgba(255, 255, 255, 0.04);	

	--otter-primary-color: rgba(24, 144, 255, 1);
  --otter-primary-color-hover: rgba(64, 169, 255, 1);
  --otter-primary-color-activeive: rgba(9, 109, 217, 1);
  --otter-primary-color-outline: rgba(24, 144, 255, 0.20);

  // icon
  // --otter-icon-before-background: rgba(0, 0, 0, 0.85);
  // --otter-icon-border: rgba(0, 0, 0, 0.85);
  // --otter-icon: rgba(0, 0, 0, 0.85);
  // --otter-icon-disabled-before-background: rgba(0, 0, 0, 0.25);
  // --otter-icon-disabled-border: rgba(0, 0, 0, 0.25);
  // --otter-icon-disabled: rgba(0, 0, 0, 0.25);

  // dropdown
  --otter-dropdown-background: rgba(255, 255, 255, 1);
  --otter-dropdown: rgba(0, 0, 0, 0.85);
  --otter-dropdown-item: rgba(0, 0, 0, 0.85);
  --otter-dropdown-item-background: rgba(255, 255, 255, 1);
  --otter-dropdown-item-hover-background: rgba(245, 245, 245, 1);
  --otter-dropdown-disabled-item: rgba(0, 0, 0, 0.25);
  --otter-dropdown-disabled-item-hover: rgba(0, 0, 0, 0.25);
  --otter-dropdown-disabled-item-hover-background: rgba(255, 255, 255, 1);
  --otter-dropdown-specail-letter-down: rgba(24, 144, 255, 1);
  --otter-dropdown-specail-letter-down-hover: rgba(64, 169, 255, 1);
  // dropdown-light
  --otter-dropdown-light-background: rgba(255, 255, 255, 1);
  --otter-dropdown-light: rgba(0, 0, 0, 0.85);
  --otter-dropdown-light-item: rgba(0, 0, 0, 0.85);
  --otter-dropdown-light-item-background: rgba(255, 255, 255, 1);
  --otter-dropdown-light-item-hover-background: rgba(245, 245, 245, 1);
  --otter-dropdown-light-disabled-item: rgba(0, 0, 0, 0.25);
  --otter-dropdown-light-disabled-item-hover: rgba(0, 0, 0, 0.25);
  --otter-dropdown-light-disabled-item-hover-background: rgba(255, 255, 255, 1);
  // dropdown-black
  --otter-dropdown-black-background: rgba(0, 21, 41, 1);
  --otter-dropdown-black: rgba(255, 255, 255, 0.65);
  --otter-dropdown-black-item: rgba(255, 255, 255, 0.65);
  --otter-dropdown-black-item-background: rgba(0, 21, 41, 1);
  --otter-dropdown-black-item-hover-background: rgba(24, 144, 255, 1);
  --otter-dropdown-black-disabled-item: rgba(255, 255, 255, 0.30);
  --otter-dropdown-black-disabled-item-hover: rgba(255, 255, 255, 0.30);
  --otter-dropdown-black-disabled-item-hover-background: rgba(0, 0, 0, 0.25);
  // dropdown-arrow-light
  --otter-dropdown-arrow-light-background: rgba(255, 255, 255, 1);
  // dropdown-arrow-black
  --otter-dropdown-arrow-black-background:  rgba(0, 21, 41, 1);
  // dropdown-arrow-box-shadow
  --otter-dropdown-arrow-top-box-shadow: rgba(0, 0, 0, 0.1);
  --otter-dropdown-arrow-bottom-box-shadow: rgba(0, 0, 0, 0.1);
  // dropdown: danger
  --otter-dropdown-item-danger: rgba(255, 77, 79, 1);
  --otter-dropdown-item-danger-item: rgba(255, 77, 79, 1);
  --otter-dropdown-item-danger-item-background: rgba(255, 255, 255, 1);
  --otter-dropdown-item-danger-item-hover-background: rgba(255, 77, 79, 1);
  --otter-dropdown-item-danger-hover: rgba(255, 255, 255, 1);

  // input[type="radio"]
  --otter-radio-border: rgba(217, 217, 217, 1);
  --otter-radio-background: rgba(255, 255, 255, 1);
  --otter-radio-box-shadow: none;
  --otter-radio: rgba(0, 0, 0, 0.85);
  --otter-radio-text-shadow: none;
  --otter-radio-hover-border: rgba(24, 144, 255, 1);
  --otter-radio-hover-background: rgba(255, 255, 255, 1);
  --otter-radio-hover-box-shadow: none;
  --otter-radio-hover: rgba(0, 0, 0, 0.85);
  --otter-radio-hover-text-shadow: none;
  --otter-radio-focus-border: rgba(24, 144, 255, 1);
  --otter-radio-focus-background: rgba(255, 255, 255, 1);
  --otter-radio-focus-box-shadow: rgb(230, 247, 255, 1);
  --otter-radio-focus: rgba(0, 0, 0, 0.85);
  --otter-radio-focus-text-shadow: none;
  --otter-radio-active-border: rgba(24, 144, 255, 1);
  --otter-radio-active-background: rgba(255, 255, 255, 1);
  --otter-radio-active-inner-after-background: rgba(24, 144, 255, 1);
  --otter-radio-active-box-shadow: rgba(0, 0, 0, 0);
  --otter-radio-active: rgba(0, 0, 0, 0.85);
  --otter-radio-active-text-shadow: none;
  --otter-radio-checked-border: rgba(24, 144, 255, 1);
  --otter-radio-checked-background: rgba(255, 255, 255, 1);
  --otter-radio-checked-inner-after-background: rgba(24, 144, 255, 1);
  --otter-radio-checked-box-shadow: rgba(0, 0, 0, 0);
  --otter-radio-checked: rgba(0, 0, 0, 0.85);
  --otter-radio-checked-text-shadow: none;
  // input[type="radio" disabled]
  --otter-radio-disabled-border: rgba(217, 217, 217, 1);
  --otter-radio-disabled-background: rgba(245, 245, 245, 1);
  --otter-radio-disabled-box-shadow: none;
  --otter-radio-disabled: rgba(0, 0, 0, 0.25);
  --otter-radio-disabled-text-shadow: none;
  --otter-radio-disabled-hover-border: rgba(217, 217, 217, 1);
  --otter-radio-disabled-hover-background: rgba(245, 245, 245, 1);
  --otter-radio-disabled-hover-box-shadow: none;
  --otter-radio-disabled-hover: rgba(0, 0, 0, 0.25);
  --otter-radio-disabled-hover-text-shadow: none;
  --otter-radio-disabled-focus-border: rgba(217, 217, 217, 1);
  --otter-radio-disabled-focus-background: rgba(245, 245, 245, 1);
  --otter-radio-disabled-focus-box-shadow: none;
  --otter-radio-disabled-focus: rgba(0, 0, 0, 0.25);
  --otter-radio-disabled-focus-text-shadow: none;
  --otter-radio-disabled-active-border: rgba(217, 217, 217, 1);
  --otter-radio-disabled-active-background: rgba(245, 245, 245, 1);
  --otter-radio-disabled-active-inner-after-background: rgba(0, 0, 0, 0.2);
  --otter-radio-disabled-active-box-shadow: none;
  --otter-radio-disabled-active: rgba(0, 0, 0, 0.25);
  --otter-radio-disabled-active-text-shadow: none;
  --otter-radio-disabled-checked-border: rgba(217, 217, 217, 1);
  --otter-radio-disabled-checked-background: rgba(245, 245, 245, 1);
  --otter-radio-disabled-checked-inner-after-background: rgba(0, 0, 0, 0.2);
  --otter-radio-disabled-checked-box-shadow: none;
  --otter-radio-disabled-checked: rgba(0, 0, 0, 0.25);
  --otter-radio-disabled-checked-text-shadow: none;
  // input[type="text"]
  --otter-input-border: rgba(217, 217, 217, 1);
  --otter-input-background: rgba(255, 255, 255, 1);
  --otter-input-box-shadow: none;
  --otter-input: rgba(0, 0, 0, 0.85);
  --otter-input-placeholder: rgba(191, 191, 191, 1);
  --otter-input-text-shadow: none;
  --otter-input-hover-border: rgba(64, 169, 255, 1);
  --otter-input-hover-background: rgba(255, 255, 255, 1);
  --otter-input-hover-box-shadow: none;
  --otter-input-hover: rgba(0, 0, 0, 0.85);
  --otter-input-hover-text-shadow: none;
  --otter-input-focus-border: rgba(64, 169, 255, 1);
  --otter-input-focus-background: rgba(255, 255, 255, 1);
  --otter-input-focus-box-shadow: rgba(24, 144, 255, 0.2);
  --otter-input-focus: rgba(0, 0, 0, 0.85);
  --otter-input-focus-text-shadow: none;
  --otter-input-active-border: rgba(217, 217, 217, 1);
  --otter-input-active-background: rgba(255, 255, 255, 1);
  --otter-input-active-box-shadow: none;
  --otter-input-active: rgba(0, 0, 0, 0.85);
  --otter-input-active-text-shadow: none;
  // input[type="text" disabled]
  --otter-input-disabled-border: rgba(0, 0, 0, 0.25);
  --otter-input-disabled-background: rgba(0, 0, 0, 0);
  --otter-input-disabled-box-shadow: none;
  --otter-input-disabled: rgba(0, 0, 0, 0.25);
  --otter-input-disabled-text-shadow: none;
  --otter-input-disabled-hover-border: rgb(217, 217, 217, 1);
  --otter-input-disabled-hover-background: rgba(0, 0, 0, 0);
  --otter-input-disabled-hover-box-shadow: none;
  --otter-input-disabled-hover: rgba(0, 0, 0, 0.25);
  --otter-input-disabled-hover-text-shadow: none;
  --otter-input-disabled-focus-border: rgb(107, 107, 107, 0.4);
  --otter-input-disabled-focus-background: rgba(0, 0, 0, 0);
  --otter-input-disabled-focus-box-shadow: none;
  --otter-input-disabled-focus: rgba(0, 0, 0, 0.25);
  --otter-input-disabled-focus-text-shadow: none;
  --otter-input-disabled-active-border: rgba(0, 0, 0, 0.25);
  --otter-input-disabled-active-background: rgba(0, 0, 0, 0);
  --otter-input-disabled-active-box-shadow: none;
  --otter-input-disabled-active: rgba(0, 0, 0, 0.25);
  --otter-input-disabled-active-text-shadow: none;

  // btn[ghost]
  --otter-btn-background-ghost-container: rgba(36, 41, 47, 1)
  --otter-btn-background-ghost-border: rgba(255, 255, 255, 1);
  --otter-btn-background-ghost-background: rgba(0, 0, 0, 0);
  --otter-btn-background-ghost-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-background-ghost: rgba(255, 255, 255, 1);
  --otter-btn-background-ghost-text-shadow: none;
  --otter-btn-background-ghost-hover-border: rgba(64, 169, 255, 1);
  --otter-btn-background-ghost-hover-background: rgba(0, 0, 0, 0);
  --otter-btn-background-ghost-hover-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-background-ghost-hover: rgba(64, 169, 255, 1);
  --otter-btn-background-ghost-hover-text-shadow: none;
  // --otter-btn-background-ghost-focus-border: rgba(64, 169, 255, 1);
  // --otter-btn-background-ghost-focus-background: rgba(0, 0, 0, 0);
  // --otter-btn-background-ghost-focus-box-shadow: rgba(0, 0, 0, 0.016);
  // --otter-btn-background-ghost-focus: rgba(64, 169, 255, 1);
  // --otter-btn-background-ghost-focus-text-shadow: none;
  --otter-btn-background-ghost-active-border: rgba(9, 109, 217, 1);
  --otter-btn-background-ghost-active-background: rgba(0, 0, 0, 0);
  --otter-btn-background-ghost-active-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-background-ghost-activ: rgba(9, 109, 217, 1);
  --otter-btn-background-ghost-active-text-shadow: none;

  // btn[danger]
  --otter-btn-dangerous-border: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-background: rgba(255, 255, 255, 1);
  --otter-btn-dangerous-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-dangerous: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-text-shadow: none;
  --otter-btn-dangerous-hover-border: rgba(255, 120, 177, 1);
  --otter-btn-dangerous-hover-background: rgba(255, 255, 255, 1);
  --otter-btn-dangerous-hover-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-dangerous-hover: rgba(255, 120, 177, 1);
  --otter-btn-dangerous-hover-text-shadow: none;
  // --otter-btn-dangerous-focus-border: rgba(255, 120, 177, 1);
  // --otter-btn-dangerous-focus-background: rgba(255, 255, 255, 1);
  // --otter-btn-dangerous-focus-box-shadow: rgba(0, 0, 0, 0.016);
  // --otter-btn-dangerous-focus: rgba(255, 120, 177, 1);
  // --otter-btn-dangerous-focus-text-shadow: none;
  --otter-btn-dangerous-active-border: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-active-background: rgba(255, 255, 255, 1);
  --otter-btn-dangerous-active-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-dangerous-active: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-active-text-shadow: none;
  // btn[type: danger > icon]
  // --otter-btn-dangerous-icon-before-background: rgba(255, 77, 79, 1);
  // --otter-btn-dangerous-icon-border: rgba(255, 77, 79, 1);
  // --otter-btn-dangerous-icon: rgba(255, 77, 79, 1);
  // btn[type: danger:hover > icon]
  // --otter-btn-dangerous-icon-before-hover-border: rgba(255, 120, 177, 1);
  // --otter-btn-dangerous-icon-hover: rgba(255, 120, 177, 1);

  // btn[danger primary *orizin]
  --otter-btn-orizin-dangerous-border: rgba(255, 77, 79, 1);
  --otter-btn-orizin-dangerous-background: rgba(255, 77, 79, 1);
  --otter-btn-orizin-dangerous-box-shadow: rgba(0, 0, 0, 0.043);
  --otter-btn-orizin-dangerous: rgba(255, 255, 255, 1);
  --otter-btn-orizin-dangerous-text-shadow: rgba(0, 0, 0, 0.12);
  --otter-btn-orizin-dangerous-hover-border: rgba(255, 120, 117, 1);
  --otter-btn-orizin-dangerous-hover-background: rgba(255, 120, 117, 1);
  --otter-btn-orizin-dangerous-hover-box-shadow: rgba(0, 0, 0, 0.043);
  --otter-btn-orizin-dangerous-hover: rgba(255, 255, 255, 1);
  --otter-btn-orizin-dangerous-hover-text-shadow: rgba(0, 0, 0, 0.12);
  // --otter-btn-orizin-dangerous-focus-border: rgba(255, 120, 117, 1);
  // --otter-btn-orizin-dangerous-focus-background: rgba(255, 120, 117, 1);
  // --otter-btn-orizin-dangerous-focus-box-shadow: rgba(0, 0, 0, 0.043);
  // --otter-btn-orizin-dangerous-focus: rgba(255, 255, 255, 1);
  // --otter-btn-orizin-dangerous-focus-text-shadow: rgba(0, 0, 0, 0.12);
  --otter-btn-orizin-dangerous-active-border: rgba(217, 54, 62, 1);
  --otter-btn-orizin-dangerous-active-background: rgba(217, 54, 62, 1);
  --otter-btn-orizin-dangerous-active-box-shadow: rgba(0, 0, 0, 0.043);
  --otter-btn-orizin-dangerous-active: rgba(255, 255, 255, 1);
  --otter-btn-orizin-dangerous-active-text-shadow: rgba(0, 0, 0, 0.12);

  // btn[danger ghost]
  --otter-btn-ghost-dangerous-border: rgba(255, 255, 255, 1);
  --otter-btn-ghost-dangerous-background: rgba(0, 0, 0, 0);
  --otter-btn-ghost-dangerous-box-shadow: none;
  --otter-btn-ghost-dangerous: rgba(255, 255, 255, 1);
  --otter-btn-ghost-dangerous-text-shadow: none;
  --otter-btn-ghost-dangerous-hover-border: rgba(255, 120, 117, 1);
  --otter-btn-ghost-dangerous-hover-background: rgba(0, 0, 0, 0);
  --otter-btn-ghost-dangerous-hover-box-shadow: none;
  --otter-btn-ghost-dangerous-hover: rgba(255, 120, 117, 1);
  --otter-btn-ghost-dangerous-hover-text-shadow: none;
  // --otter-btn-ghost-dangerous-focus-border: rgba(255, 120, 117, 1);
  // --otter-btn-ghost-dangerous-focus-background: rgba(0, 0, 0, 0);
  // --otter-btn-ghost-dangerous-focus-box-shadow: none;
  // --otter-btn-ghost-dangerous-focus: rgba(255, 120, 117, 1);
  // --otter-btn-ghost-dangerous-focus-text-shadow: none;
  --otter-btn-ghost-dangerous-active-border: rgba(255, 120, 117, 1);
  --otter-btn-ghost-dangerous-active-background: rgba(0, 0, 0, 0);
  --otter-btn-ghost-dangerous-active-box-shadow: none;
  --otter-btn-ghost-dangerous-active: rgba(255, 120, 117, 1);
  --otter-btn-ghost-dangerous-active-text-shadow: none;

  // btn[ghost]
  --otter-btn-ghost-border: rgba(255, 255, 255, 1);
  --otter-btn-ghost-background: rgba(0, 0, 0, 0);
  --otter-btn-ghost-box-shadow: none;
  --otter-btn-ghost: rgba(255, 255, 255, 1);
  --otter-btn-ghost-text-shadow: none;
  --otter-btn-ghost-hover-border: rgba(64, 169, 255, 1); 
  --otter-btn-ghost-hover-background: rgba(0, 0, 0, 0);
  --otter-btn-ghost-hover-box-shadow: none;
  --otter-btn-ghost-hover: rgba(64, 169, 255, 1); 
  --otter-btn-ghost-hover-text-shadow: none;
  // --otter-btn-ghost-focus-border: rgba(64, 169, 255, 1); 
  // --otter-btn-ghost-focus-background: rgba(0, 0, 0, 0);
  // --otter-btn-ghost-focus-box-shadow: none;
  // --otter-btn-ghost-focus: rgba(64, 169, 255, 1);
  // --otter-btn-ghost-focus-text-shadow: none;
  --otter-btn-ghost-active-border: rgba(24, 144, 255, 1);
  --otter-btn-ghost-active-background: rgba(0, 0, 0, 0);
  --otter-btn-ghost-active-box-shadow: none;
  --otter-btn-ghost-active: rgba(24, 144, 255, 1);
  --otter-btn-ghost-active-text-shadow: none;
  
  // btn[type: primary]
  --otter-btn-primary-border: rgba(24, 144, 255, 1);
  --otter-btn-primary-background: rgba(24, 144, 255, 1);
  --otter-btn-primary-box-shadow: rgba(0, 0, 0, 0.043);
  --otter-btn-primary: rgba(255, 255, 255, 1);
  --otter-btn-primary-text-shadow: rgba(0, 0, 0, 0.12);
  --otter-btn-primary-hover-border: rgba(64, 169, 255, 1); 
  --otter-btn-primary-hover-background: rgba(64, 169, 255, 1); 
  --otter-btn-primary-hover-box-shadow: rgba(0, 0, 0, 0.043);
  --otter-btn-primary-hover: rgba(255, 255, 255, 1);
  --otter-btn-primary-hover-text-shadow: rgba(0, 0, 0, 0.12);
  // --otter-btn-primary-focus-border: rgba(64, 169, 255, 1); 
  // --otter-btn-primary-focus-background: rgba(64, 169, 255, 1); 
  // --otter-btn-primary-focus-box-shadow: rgba(0, 0, 0, 0.043);
  // --otter-btn-primary-focus: rgba(255, 255, 255, 1);
  // --otter-btn-primary-focus-text-shadow: rgba(0, 0, 0, 0.12);
  --otter-btn-primary-active-border: rgba(24, 143, 254, 1);
  --otter-btn-primary-active-background: rgba(24, 143, 254, 1);
  --otter-btn-primary-active-box-shadow: rgba(0, 0, 0, 0.043);
  --otter-btn-primary-active: rgba(255, 255, 255, 1);
  --otter-btn-primary-active-text-shadow: rgba(0, 0, 0, 0.12);
  // btn[type: primary > icon]
  // --otter-btn-primary-icon-before-background: rgba(255, 255, 255, 1);
  // --otter-btn-primary-icon-border: rgba(255, 255, 255, 1);
  // --otter-btn-primary-icon: rgba(255, 255, 255, 1);
  
  // btn[type: default]
  --otter-btn-default-border: rgba(217, 217, 217, 1);
  --otter-btn-default-background: rgba(255, 255, 255, 1);
  --otter-btn-default-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-default: rgba(0, 0, 0, 0.85);
  --otter-btn-default-text-shadow: none;
  --otter-btn-default-hover-border: rgba(64, 169, 255, 1);
  --otter-btn-default-hover-background: rgba(255, 255, 255, 1);
  --otter-btn-default-hover-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-default-hover: rgba(64, 169, 255, 1);
  --otter-btn-default-hover-text-shadow: none;
  // --otter-btn-default-focus-border: rgba(64, 169, 255, 1);
  // --otter-btn-default-focus-background: rgba(255, 255, 255, 1);
  // --otter-btn-default-focus-box-shadow: rgba(0, 0, 0, 0.016);
  // --otter-btn-default-focus: rgba(64, 169, 255, 1);
  // --otter-btn-default-focus-text-shadow: none;
  --otter-btn-default-active-border: rgba(9, 109, 217, 1);
  --otter-btn-default-active-background: rgba(255, 255, 255, 1);
  --otter-btn-default-active-box-shadow: rgba(0, 0, 0, 0.004);
  --otter-btn-default-active: rgba(9, 109, 217, 1);
  --otter-btn-default-active-text-shadow: none;
  // btn[type: default > icon]
  // --otter-btn-default-icon-before-hover-border: rgba(64, 169, 255, 1);
  // --otter-btn-default-icon-hover: rgba(64, 169, 255, 1);
  
  // btn[type: dashed]
  --otter-btn-dashed-border: rgba(217, 217, 217, 1);
  --otter-btn-dashed-background: rgba(255, 255, 255, 1);
  --otter-btn-dashed-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-dashed: rgba(0, 0, 0, 0.85);
  --otter-btn-dashed-text-shadow: none;
  --otter-btn-dashed-hover-border: rgba(64, 169, 255, 1);
  --otter-btn-dashed-hover-background: rgba(255, 255, 255, 1);
  --otter-btn-dashed-hover-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-dashed-hover: rgba(64, 169, 255, 1);
  --otter-btn-dashed-hover-text-shadow: none;
  // --otter-btn-dashed-focus-border: rgba(64, 169, 255, 1);
  // --otter-btn-dashed-focus-background: rgba(255, 255, 255, 1);
  // --otter-btn-dashed-focus-box-shadow: rgba(0, 0, 0, 0.016);
  // --otter-btn-dashed-focus: rgba(64, 169, 255, 1);
  // --otter-btn-dashed-focus-text-shadow: none;
  --otter-btn-dashed-active-border: rgba(9, 109, 217, 1);
  --otter-btn-dashed-active-background: rgba(255, 255, 255, 1);
  --otter-btn-dashed-active-box-shadow: rgba(0, 0, 0, 0.016);
  --otter-btn-dashed-active: rgba(9, 109, 217, 1);
  --otter-btn-dashed-active-text-shadow: none;
  // btn[type: dashed > icon]
  // --otter-btn-dashed-icon-before-hover-border: rgba(64, 169, 255, 1);
  // --otter-btn-dashed-icon-hover: rgba(64, 169, 255, 1);
  
  // btn[type: text]
  --otter-btn-text-border: rgba(0, 0, 0, 0);
  --otter-btn-text-background: rgba(0, 0, 0, 0);
  --otter-btn-text-box-shadow: none;
  --otter-btn-text: rgba(0, 0, 0, 0.85);
  --otter-btn-text-text-shadow: none;
  --otter-btn-text-hover-border: rgba(0, 0, 0, 0);
  --otter-btn-text-hover-background: rgba(0, 0, 0, 0.02);
  --otter-btn-text-hover-box-shadow: none;
  --otter-btn-text-hover: rgba(0, 0, 0, 0.85);
  --otter-btn-text-hover-text-shadow: none;
  // --otter-btn-text-focus-border: rgba(0, 0, 0, 0);
  // --otter-btn-text-focus-background: rgba(0, 0, 0, 0.027);
  // --otter-btn-text-focus-box-shadow: none;
  // --otter-btn-text-focus: rgba(0, 0, 0, 0.85);
  // --otter-btn-text-focus-text-shadow: none;
  --otter-btn-text-active-border: rgba(0, 0, 0, 0);
  --otter-btn-text-active-background: rgba(0, 0, 0, 0.027);
  --otter-btn-text-active-box-shadow: none;
  --otter-btn-text-active: rgba(0, 0, 0, 0.85);
  --otter-btn-text-active-text-shadow: none;
  // btn[type: text > icon]
  // --otter-btn-text-icon-before-hover-border: rgba(0, 0, 0, 0.85);
  // --otter-btn-text-icon-hover: rgba(0, 0, 0, 0.85);
  
  // btn[type: link]
  --otter-btn-link-border: rgba(0, 0, 0, 0);
  --otter-btn-link-background: rgba(0, 0, 0, 0);
  --otter-btn-link-box-shadow: none;
  --otter-btn-link: rgba(24, 144, 255, 1);
  --otter-btn-link-text-shadow: none;
  --otter-btn-link-hover-border: rgba(0, 0, 0, 0);
  --otter-btn-link-hover-background: rgba(0, 0, 0, 0);
  --otter-btn-link-hover-box-shadow: none;
  --otter-btn-link-hover: rgba(24, 144, 255, 1);
  --otter-btn-link-hover-text-shadow: none;
  // --otter-btn-link-focus-border: rgba(0, 0, 0, 0);
  // --otter-btn-link-focus-background: rgba(0, 0, 0, 0);
  // --otter-btn-link-focus-box-shadow: none;
  // --otter-btn-link-focus: rgba(64, 169, 255, 1);
  // --otter-btn-link-focus-text-shadow: none;
  --otter-btn-link-active-border: rgba(0, 0, 0, 0);
  --otter-btn-link-active-background: rgba(0, 0, 0, 0);
  --otter-btn-link-active-box-shadow: none;
  --otter-btn-link-active:rgba(9, 109, 217, 1);
  --otter-btn-link-active-text-shadow: none;
  // btn[type: link > icon]
  // --otter-btn-link-icon-before-background: rgba(24, 144, 255, 1);
  // --otter-btn-link-icon-border: rgba(24, 144, 255, 1);
  // --otter-btn-link-icon: rgba(24, 144, 255, 1);

  // btn[disabled reset]
  --otter-btn-disabled-reset-border: rgba(0, 0, 0, 0);
  --otter-btn-disabled-reset-background: rgba(0, 0, 0, 0);
  --otter-btn-disabled-reset: rgba(0, 0, 0, 0.25);
  // btn[type: default disabled]
  --otter-btn-disabled-default-border: rgba(217, 217, 217, 1);
  --otter-btn-disabled-default-background: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-box-shadow: none;
  --otter-btn-disabled-default: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-default-text-shadow: none;
  // btn[type: text disabled]
  --otter-btn-disabled-text-border: rgba(0, 0, 0, 0);
  --otter-btn-disabled-text-background: rgba(0, 0, 0, 0);
  --otter-btn-disabled-text-box-shadow: none;
  --otter-btn-disabled-text: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-text-text-shadow: none;
  // btn[type: background-ghost default disabled]
  --otter-btn-background-ghost-disabled-default-border: rgba(87, 96, 106, .25);
  --otter-btn-background-ghost-disabled-default-background: rgba(0, 0, 0, 0);
  --otter-btn-background-ghost-disabled-default-box-shadow: none;
  --otter-btn-background-ghost-disabled-default: rgba(255, 255, 255, 0.10);
  --otter-btn-background-ghost-disabled-default-text-shadow: none;
  // btn[type: background-ghost text disabled]
  --otter-btn-background-ghost-disabled-text-border: rgba(0, 0, 0, 0);
  --otter-btn-background-ghost-disabled-text-background: rgba(0, 0, 0, 0);
  --otter-btn-background-ghost-disabled-text-box-shadow: none;
  --otter-btn-background-ghost-disabled-text: rgba(255, 255, 255, 0.10);
  --otter-btn-background-ghost-disabled-text-text-shadow: none;
}
