<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Type Button</title>
</head>
<body>
  <div class="wrap" id="button-disabled">
    <button type="button" class="otter-btn" disabled>
      <span>Button</span>
    </button>
    <button type="button" class="otter-btn otter-btn-default" disabled>
      <span>Default Button</span>
    </button>
    <button type="button" class="otter-btn otter-btn-primary" disabled>
      <span>Primary Button</span>
    </button>
    <button type="button" class="otter-btn otter-btn-dashed" disabled>
      <span>Dashed Button</span>
    </button>
    <button type="button" class="otter-btn otter-btn-text" disabled>
      <span>Text Button</span>
    </button>
    <button type="button" class="otter-btn otter-btn-link" disabled>
      <span>Link Button</span>
    </button>
  </div>
</body>
</html>