/* This CSS will print because '%code-name' is extended. */
.otter-tooltip {
  margin: 0;
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: intrinsic;
  max-width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  visibility: visible;
}

.otter-tooltip {
  font-size: 14px;
  font-variant: tabular-nums;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  line-height: 1.5715;
  color: var(--otter-tooltip);
}

.otter-tooltip-trigger span[data-tooltip] {
  display: inline-block;
  color: var(--otter-tooltip);
  -webkit-text-decoration: dotted underline var(--otter-tooltip-text-decoration) 2px;
          text-decoration: dotted underline var(--otter-tooltip-text-decoration) 2px;
}

.otter-tooltip-trigger .spacial-letter-down {
  position: relative;
  top: 2px;
  display: inline-block;
  color: var(--otter-tooltip-specail-letter-down);
  -webkit-transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, transform 0.3s;
  transition: top 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.otter-tooltip-trigger.otter-tooltip-open .spacial-letter-down {
  position: relative;
  top: -2px;
  left: 0;
  color: var(--otter-tooltip-specail-letter-down-hover);
  -webkit-transform: rotate(0.5turn);
  transform: rotate(0.5turn);
}

.otter-tooltip {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: block;
  z-index: 1070;
}

.otter-tooltip:before {
  position: absolute;
  top: -4px;
  right: 0;
  bottom: -4px;
  left: -7px;
  z-index: -9999;
  opacity: 0.0001;
  content: ' ';
}

.otter-tooltip-hidden {
  display: none;
}

.otter-tooltip-visible {
  display: block;
}

.otter-tooltip-show-arrow.otter-tooltip-placement-topLeft, .otter-tooltip-show-arrow.otter-tooltip-placement-top, .otter-tooltip-show-arrow.otter-tooltip-placement-topRight, .otter-tooltip-show-arrow.otter-tooltip-placement-default, .otter-tooltip-show-arrow.otter-tooltip-placement-bottomLeft, .otter-tooltip-show-arrow.otter-tooltip-placement-bottom, .otter-tooltip-show-arrow.otter-tooltip-placement-bottomRight,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-topLeft,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-top,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-topRight,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-default,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-bottomLeft,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-bottom,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-bottomRight,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-topLeft,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-top,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-topRight,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-default,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-bottomLeft,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-bottom,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-bottomRight {
  padding-top: 15px;
  padding-bottom: 15px;
}

.otter-tooltip-show-arrow.otter-tooltip-placement-leftTop, .otter-tooltip-show-arrow.otter-tooltip-placement-left, .otter-tooltip-show-arrow.otter-tooltip-placement-leftBottom, .otter-tooltip-show-arrow.otter-tooltip-placement-rightTop, .otter-tooltip-show-arrow.otter-tooltip-placement-right, .otter-tooltip-show-arrow.otter-tooltip-placement-rightBottom,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-leftTop,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-left,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-leftBottom,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-rightTop,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-right,
.otter-tooltip-show-arrow-black.otter-tooltip-placement-rightBottom,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-leftTop,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-left,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-leftBottom,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-rightTop,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-right,
.otter-tooltip-show-arrow-light.otter-tooltip-placement-rightBottom {
  padding-left: 15px;
  padding-right: 15px;
}

.otter-tooltip-arrow-light {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--otter-tooltip-arrow-light-background);
  -webkit-transform: rotate(180deg) translateY(11px);
          transform: rotate(180deg) translateY(11px);
  pointer-events: none;
}

.otter-tooltip-arrow-black {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--otter-tooltip-arrow-black-background);
  -webkit-transform: rotate(180deg) translateY(11px);
          transform: rotate(180deg) translateY(11px);
  pointer-events: none;
}

.otter-tooltip-placement-default > .otter-tooltip-arrow-black,
.otter-tooltip-placement-default > .otter-tooltip-arrow-light,
.otter-tooltip-placement-top > .otter-tooltip-arrow-black,
.otter-tooltip-placement-top > .otter-tooltip-arrow-light,
.otter-tooltip-placement-topLeft > .otter-tooltip-arrow-black,
.otter-tooltip-placement-topLeft > .otter-tooltip-arrow-light,
.otter-tooltip-placement-topRight > .otter-tooltip-arrow-black,
.otter-tooltip-placement-topRight > .otter-tooltip-arrow-light {
  bottom: 10px;
  -webkit-box-shadow: 3px 3px 7px -3px var(--otter-tooltip-arrow-top-box-shadow);
          box-shadow: 3px 3px 7px -3px var(--otter-tooltip-arrow-top-box-shadow);
  -webkit-transform: rotate(0deg) translateY(11px);
          transform: rotate(0deg) translateY(11px);
}

.otter-tooltip-placement-bottom > .otter-tooltip-arrow-black,
.otter-tooltip-placement-bottom > .otter-tooltip-arrow-light,
.otter-tooltip-placement-bottomLeft > .otter-tooltip-arrow-black,
.otter-tooltip-placement-bottomLeft > .otter-tooltip-arrow-light,
.otter-tooltip-placement-bottomRight > .otter-tooltip-arrow-black,
.otter-tooltip-placement-bottomRight > .otter-tooltip-arrow-light {
  top: 10px;
  -webkit-box-shadow: 2px 2px 5px -2px var(--otter-tooltip-arrow-bottom-box-shadow);
          box-shadow: 2px 2px 5px -2px var(--otter-tooltip-arrow-bottom-box-shadow);
}

.otter-tooltip-placement-leftTop > .otter-tooltip-arrow-black,
.otter-tooltip-placement-leftTop > .otter-tooltip-arrow-light,
.otter-tooltip-placement-left > .otter-tooltip-arrow-black,
.otter-tooltip-placement-left > .otter-tooltip-arrow-light,
.otter-tooltip-placement-leftBottom > .otter-tooltip-arrow-black,
.otter-tooltip-placement-leftBottom > .otter-tooltip-arrow-light {
  top: 0;
  right: -1px;
  -webkit-box-shadow: 2px 2px 5px -2px var(--otter-tooltip-arrow-bottom-box-shadow);
          box-shadow: 2px 2px 5px -2px var(--otter-tooltip-arrow-bottom-box-shadow);
  -webkit-transform: rotate(270deg) translateX(calc(50% - 16px));
          transform: rotate(270deg) translateX(calc(50% - 16px));
}

.otter-tooltip-placement-rightTop > .otter-tooltip-arrow-black,
.otter-tooltip-placement-rightTop > .otter-tooltip-arrow-light,
.otter-tooltip-placement-right > .otter-tooltip-arrow-black,
.otter-tooltip-placement-right > .otter-tooltip-arrow-light,
.otter-tooltip-placement-rightBottom > .otter-tooltip-arrow-black,
.otter-tooltip-placement-rightBottom > .otter-tooltip-arrow-light {
  top: 0;
  left: -1px;
  -webkit-box-shadow: 2px 2px 5px -2px var(--otter-tooltip-arrow-bottom-box-shadow);
          box-shadow: 2px 2px 5px -2px var(--otter-tooltip-arrow-bottom-box-shadow);
  -webkit-transform: rotate(90deg) translateX(calc(50%));
          transform: rotate(90deg) translateX(calc(50%));
}

.otter-tooltip-placement-default > .otter-tooltip-arrow-black,
.otter-tooltip-placement-default > .otter-tooltip-arrow-light,
.otter-tooltip-placement-top > .otter-tooltip-arrow-black,
.otter-tooltip-placement-top > .otter-tooltip-arrow-light,
.otter-tooltip-placement-bottom > .otter-tooltip-arrow-black,
.otter-tooltip-placement-bottom > .otter-tooltip-arrow-light {
  left: calc(50% - 9px);
}

.otter-tooltip-placement-topLeft > .otter-tooltip-arrow-black,
.otter-tooltip-placement-topLeft > .otter-tooltip-arrow-light,
.otter-tooltip-placement-bottomLeft > .otter-tooltip-arrow-black,
.otter-tooltip-placement-bottomLeft > .otter-tooltip-arrow-light {
  left: 12px;
}

.otter-tooltip-placement-topRight > .otter-tooltip-arrow-black,
.otter-tooltip-placement-topRight > .otter-tooltip-arrow-light,
.otter-tooltip-placement-bottomRight > .otter-tooltip-arrow-black,
.otter-tooltip-placement-bottomRight > .otter-tooltip-arrow-light {
  right: 12px;
}

.otter-tooltip-placement-bottomLeft > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-bottomLeft > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-bottomRight > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-bottomRight > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-bottom > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-bottom > .otter-tooltip-arrow-light:last-child {
  top: initial;
  -webkit-transform: rotate(0) translateY(0);
          transform: rotate(0) translateY(0);
}

.otter-tooltip-placement-default > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-default > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-topLeft > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-topLeft > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-topRight > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-topRight > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-top > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-top > .otter-tooltip-arrow-light:last-child {
  top: 0;
  -webkit-transform: rotate(180deg) translateY(0);
          transform: rotate(180deg) translateY(0);
}

.otter-tooltip-placement-leftTop > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-leftTop > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-left > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-left > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-leftBottom > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-leftBottom > .otter-tooltip-arrow-light:last-child {
  left: 0;
  -webkit-transform: rotate(90deg) translateX(calc(50%));
          transform: rotate(90deg) translateX(calc(50%));
}

.otter-tooltip-placement-rightTop > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-rightTop > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-right > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-right > .otter-tooltip-arrow-light:last-child,
.otter-tooltip-placement-rightBottom > .otter-tooltip-arrow-black:last-child,
.otter-tooltip-placement-rightBottom > .otter-tooltip-arrow-light:last-child {
  left: calc(100% - 16px);
  -webkit-transform: rotate(270deg) translateX(calc(50% - 16px));
          transform: rotate(270deg) translateX(calc(50% - 16px));
}

.otter-tooltip-content {
  position: relative;
  margin: 0;
  list-style-type: none;
  border-radius: 2px;
  background-color: var(--otter-tooltip-background);
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
  outline: none;
}

.otter-tooltip-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otter-tooltip-title-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.otter-tooltip-item {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: var(--otter-tooltip-item);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.otter-tooltip-light {
  background-color: var(--otter-tooltip-light-background);
}

.otter-tooltip-light .otter-tooltip-item {
  color: var(--otter-tooltip-light-item);
}

.otter-tooltip-black {
  background-color: var(--otter-tooltip-black-background);
}

.otter-tooltip-black .otter-tooltip-item {
  color: var(--otter-tooltip-black-item);
}

.grid-placement {
  display: -ms-grid;
  display: grid;
  margin: 150px 25%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

.one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
}

.two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 5;
  grid-row: 5 / 5;
  text-align: center;
}

.three {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  text-align: right;
}

.four {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  text-align: left;
}

.one .otter-btn,
.two .otter-btn,
.three .otter-btn,
.four .otter-btn {
  min-width: 120px;
}
/*# sourceMappingURL=tooltip.css.map */