:root {
  --otter-black: rgba(0. 0, 0, 1);
  --otter-white: rgba(255, 255, 255, 1);
  --otter-transparent: rgba(0. 0, 0, 0);
  --otter-ftbck-title: rgba(0, 0, 0, 0.85);
  --otter-ftbck-primary-text: rgba(0, 0, 0, 0.65);
  --otter-ftbck-secondary-text: rgba(0, 0, 0, 0.45);
  --otter-ftbck-disable: rgba(0, 0, 0, 0.25);
  --otter-ftbck-border: rgba(0, 0, 0, 0.15);
  --otter-ftbck-dividers: rgba(0, 0, 0, 0.06);
  --otter-ftbck-background: rgba(0, 0, 0, 0.04);
  --otter-ftbck-table-header: rgba(0, 0, 0, 0.02);
  --otter-ftwht-title: rgba(255, 255, 255, 0.85);
  --otter-ftwht-primary-text: rgba(255, 255, 255, 0.65);
  --otter-ftwht-secondary-text: rgba(255, 255, 255, 0.45);
  --otter-ftwht-disable: rgba(255, 255, 255, 0.30);
  --otter-ftwht-border: rgba(255, 255, 255, 0.20);
  --otter-ftwht-dividers: rgba(255, 255, 255, 0.12);
  --otter-ftwht-background: rgba(255, 255, 255, 0.08);
  --otter-ftwht-table-header: rgba(255, 255, 255, 0.04);
  --otter-primary-color: rgba(24, 144, 255, 1);
  --otter-primary-color-hover: rgba(64, 169, 255, 1);
  --otter-primary-color-active: rgba(9, 109, 217, 1);
  --otter-primary-color-outline: rgba(24, 144, 255, .2);
  --otter-btn-spacing: 8px;
  --otter-btn-dangerous: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-hover: rgba(255, 120, 117, 1);
  --otter-btn-dangerous-bg: var(--otter-white);
  --otter-btn-dangerous-bg-hover: var(--otter-white);
  --otter-btn-dangerous-border: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-border-hover: rgba(255, 120, 117, 1);
  --otter-btn-dangerous-box-shadow: rgba(0, 0, 0, 0.05);
  --otter-btn-dangerous-text-shadow: rgb(0, 0, 0, 0.12);
  --otter-btn-primary: var(--otter-white);
  --otter-btn-primary-hover: var(--otter-white);
  --otter-btn-primary-bg: var(--otter-primary-color);
  --otter-btn-primary-bg-hover: var(--otter-primary-color-hover);
  --otter-btn-primary-border: rgba(24, 144, 255, 1);
  --otter-btn-primary-border-hover: rgba(24, 144, 255, 1);
  --otter-btn-primary-box-shadow: rgba(0, 0, 0, 0.05);
  --otter-btn-primary-text-shadow: rgba(0, 0, 0, 0.12);
  --otter-btn-default: rgba(0, 0, 0, 0.85);
  --otter-btn-default-hover: var(--otter-primary-color-hover);
  --otter-btn-default-bg: var(--otter-white);
  --otter-btn-default-bg-hover: var(--otter-white);
  --otter-btn-default-border: rgba(217, 217, 217, 1);
  --otter-btn-default-border-hover: var(--otter-primary-color-hover);
  --otter-btn-default-box-shadow: rgba(0, 0, 0, 0.02);
  --otter-btn-default-text-shadow: none;
  --otter-btn-dashed: rgba(0, 0, 0, 0.85);
  --otter-btn-dashed-hover: var(--otter-primary-color-hover);
  --otter-btn-dashed-bg: var(--otter-white);
  --otter-btn-dashed-bg-hover: var(--otter-white);
  --otter-btn-dashed-border: rgba(217, 217, 217, 1);
  --otter-btn-dashed-border-hover: var(--otter-primary-color-hover);
  --otter-btn-dashed-box-shadow: rgba(0, 0, 0, 0.02);
  --otter-btn-dashed-text-shadow: none;
  --otter-btn-text: rgba(0, 0, 0, 0.85);
  --otter-btn-text-hover: var(--otter-primary-color-hover);
  --otter-btn-text-bg: var(--otter-transparent);
  --otter-btn-text-bg-hover: rgba(0, 0, 0, 0.018);
  --otter-btn-text-border: var(--otter-transparent);
  --otter-btn-text-border-hover: var(--otter-transparent);
  --otter-btn-text-box-shadow: none;
  --otter-btn-text-text-shadow: none;
  --otter-btn-link: rgba(24, 144, 255, 1)  ;
  --otter-btn-link-hover: rgba(24, 144, 255, 1)  ;
  --otter-btn-link-bg: var(--otter-transparent);
  --otter-btn-link-bg-hover: var(--otter-transparent);
  --otter-btn-link-border: var(--otter-transparent);
  --otter-btn-link-border-hover: var(--otter-transparent);
  --otter-btn-link-box-shadow: none;
  --otter-btn-link-text-shadow: none;
  --otter-btn-disabled-default: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-default-hover: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-default-bg: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-bg-hover: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-border:rgba(217, 217, 217, 1);
  --otter-btn-disabled-default-border-hover:rgba(217, 217, 217, 1);
  --otter-btn-disabled-default-box-shadow: none;
  --otter-btn-disabled-default-text-shadow: none;
  --otter-btn-disabled-text: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-text-bg: 0 0;
  --otter-btn-disabled-text-border: var(--otter-transparent);
  --otter-btn-disabled-text-box-shadow: none;
  --otter-btn-disabled-text-text-shadow: none;
  --otter-btn-disabled-link: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-link-bg: var(--otter-transparent);
  --otter-btn-disabled-link-border: var(--otter-transparent);
  --otter-btn-disabled-link-box-shadow: none;
  --otter-btn-disabled-link-text-shadow: none;
}

.otter-btn {
  height: 32px;
  padding: 4px 15px;
  border: 1px solid transparent;
  border-color: var(--otter-btn-default-border);
  border-radius: 2px;
  background: var(--otter-btn-default-bg);
  background-image: none;
  -webkit-box-shadow: 0 2px 0 var(--otter-btn-default-box-shadow);
          box-shadow: 0 2px 0 var(--otter-btn-default-box-shadow);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5715;
  color: var(--otter-btn-default);
  -webkit-transition: all 0.3s cubic-bezier(0.22, 0.68, 0, 1);
  transition: all 0.3s cubic-bezier(0.22, 0.68, 0, 1);
}

.otter-btn:hover, .otter-btn:focus {
  border-color: var(--otter-primary-color-hover);
  background: var(--otter-btn-default-bg);
  color: var(--otter-primary-color-hover);
  text-decoration: none;
}

.otter-btn + .otter-btn {
  margin-left: var(--otter-btn-spacing);
}

.otter-btn-default {
  border-style: solid;
  border-color: var(--otter-btn-default-border);
  background: var(--otter-btn-default-bg);
  -webkit-box-shadow: 0 2px 0 var(--otter-btn-default-box-shadow);
          box-shadow: 0 2px 0 var(--otter-btn-default-box-shadow);
  color: var(--otter-btn-default);
}

.otter-btn-default:hover, .otter-btn-default:focus {
  border-color: var(--otter-btn-default-border-hover);
  background: var(--otter-btn-default-bg-hover);
  color: var(--otter-btn-default-hover);
}

.otter-btn-primary {
  border-style: solid;
  border-color: var(--otter-btn-primary-border);
  background: var(--otter-btn-primary-bg);
  -webkit-box-shadow: 0 2px 0 var(--otter-btn-primary-box-shadow);
          box-shadow: 0 2px 0 var(--otter-btn-primary-box-shadow);
  color: var(--otter-btn-primary);
}

.otter-btn-primary:hover, .otter-btn-primary:focus {
  border-color: var(--otter-btn-primary-border-hover);
  background: var(--otter-btn-primary-bg-hover);
  color: var(--otter-btn-primary-hover);
}

.otter-btn-dashed {
  border-style: dashed;
  border-color: var(--otter-btn-dashed-border);
  background: var(--otter-btn-dashed-bg);
  -webkit-box-shadow: 0 2px 0 var(--otter-btn-dashed-box-shadow);
          box-shadow: 0 2px 0 var(--otter-btn-dashed-box-shadow);
  color: var(--otter-btn-dashed);
}

.otter-btn-dashed:hover, .otter-btn-dashed:focus {
  border-color: var(--otter-btn-dashed-border-hover);
  background: var(--otter-btn-dashed-bg-hover);
  color: var(--otter-btn-dashed-hover);
}

.otter-btn-text {
  border-style: none;
  border-color: var(--otter-btn-text-border);
  background: var(--otter-btn-text-bg);
  -webkit-box-shadow: 0 2px 0 var(--otter-btn-text-box-shadow);
          box-shadow: 0 2px 0 var(--otter-btn-text-box-shadow);
  color: var(--otter-btn-text);
}

.otter-btn-text:hover, .otter-btn-text:focus {
  border-color: var(--otter-btn-text-border-hover);
  background: var(--otter-btn-text-bg-hover);
  color: var(--otter-btn-text-hover);
}

.otter-btn-link {
  border-style: none;
  border-color: var(--otter-btn-link-border);
  background: var(--otter-btn-link-bg);
  -webkit-box-shadow: 0 2px 0 var(--otter-btn-link-box-shadow);
          box-shadow: 0 2px 0 var(--otter-btn-link-box-shadow);
  color: var(--otter-btn-link);
}

.otter-btn-link:hover, .otter-btn-link:focus {
  border-color: var(--otter-btn-link-border-hover);
  background: var(--otter-btn-link-bg-hover);
  color: var(--otter-btn-link-hover);
}

.otter-btn-dangerous {
  border-style: solid;
  border-color: var(--otter-btn-dangerous-border);
  background: var(--otter-btn-dangerous-bg);
  -webkit-box-shadow: 0 2px 0 var(--otter-btn-dangerous-box-shadow);
          box-shadow: 0 2px 0 var(--otter-btn-dangerous-box-shadow);
  color: var(--otter-btn-dangerous);
}

.otter-btn-dangerous:hover, .otter-btn-dangerous:focus {
  border-color: var(--otter-btn-dangerous-border-hover);
  background: var(--otter-btn-dangerous-bg-hover);
  color: var(--otter-btn-dangerous-hover);
}

.otter-btn.otter-btn-dangerous {
  text-shadow: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02);
          box-shadow: rgba(0, 0, 0, 0.02);
}

.otter-btn-primary.otter-btn-dangerous {
  background-color: var(--otter-btn-dangerous);
  border-color: var(--otter-btn-dangerous);
  color: var(--otter-white);
}

.otter-btn-primary.otter-btn-dangerous:hover, .otter-btn-primary.otter-btn-dangerous:focus {
  border-color: var(--otter-btn-dangerous-hover);
  background: var(--otter-btn-dangerous-hover);
  color: var(--otter-white);
}

.otter-btn-dashed.otter-btn-dangerous {
  border-style: dashed;
  text-shadow: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02);
          box-shadow: rgba(0, 0, 0, 0.02);
}

.otter-btn-text.otter-btn-dangerous {
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.otter-btn-text.otter-btn-dangerous:hover, .otter-btn-text.otter-btn-dangerous:focus {
  background: rgba(0, 0, 0, 0.018);
}

.otter-btn-link.otter-btn-dangerous {
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button[class="otter-btn"][disabled], button[class="otter-btn"][disabled]:hover, button[class="otter-btn"][disabled]:focus, button[class="otter-btn"][disabled]:active, button[class="otter-btn otter-btn-default"][disabled], button[class="otter-btn otter-btn-default"][disabled]:hover, button[class="otter-btn otter-btn-default"][disabled]:focus, button[class="otter-btn otter-btn-default"][disabled]:active, button[class$="-dashed"][disabled], button[class$="-dashed"][disabled]:hover, button[class$="-dashed"][disabled]:focus, button[class$="-dashed"][disabled]:active, button[class$="-primary"][disabled], button[class$="-primary"][disabled]:hover, button[class$="-primary"][disabled]:focus, button[class$="-primary"][disabled]:active, button[class$="-dangerous"][disabled], button[class$="-dangerous"][disabled]:hover, button[class$="-dangerous"][disabled]:focus, button[class$="-dangerous"][disabled]:active,
button[class$="-lg"][disabled],
button[class$="-lg"][disabled]:hover,
button[class$="-lg"][disabled]:focus,
button[class$="-lg"][disabled]:active, button[class$="-sm"][disabled], button[class$="-sm"][disabled]:hover, button[class$="-sm"][disabled]:focus, button[class$="-sm"][disabled]:active {
  border-color: var(--otter-btn-disabled-default-border);
  background: var(--otter-btn-disabled-default-bg);
  -webkit-box-shadow: var(--otter-btn-disabled-default-box-shadow);
          box-shadow: var(--otter-btn-disabled-default-box-shadow);
  color: var(--otter-btn-disabled-default);
  text-shadow: var(--otter-btn-disabled-default-text-shadow);
}

button[class$="-text"][disabled], button[class$="-text"][disabled]:hover, button[class$="-text"][disabled]:focus, button[class$="-text"][disabled]:active, button[class$="-link"][disabled], button[class$="-link"][disabled]:hover, button[class$="-link"][disabled]:focus, button[class$="-link"][disabled]:active,
button[class*="-text otter-btn-dangerous"][disabled],
button[class*="-text otter-btn-dangerous"][disabled]:hover,
button[class*="-text otter-btn-dangerous"][disabled]:focus,
button[class*="-text otter-btn-dangerous"][disabled]:active, button[class*="-link otter-btn-dangerous"][disabled], button[class*="-link otter-btn-dangerous"][disabled]:hover, button[class*="-link otter-btn-dangerous"][disabled]:focus, button[class*="-link otter-btn-dangerous"][disabled]:active,
button[class*="-text otter-btn-lg"][disabled],
button[class*="-text otter-btn-lg"][disabled]:hover,
button[class*="-text otter-btn-lg"][disabled]:focus,
button[class*="-text otter-btn-lg"][disabled]:active, button[class*="-link otter-btn-lg"][disabled], button[class*="-link otter-btn-lg"][disabled]:hover, button[class*="-link otter-btn-lg"][disabled]:focus, button[class*="-link otter-btn-lg"][disabled]:active,
button[class*="-text otter-btn-sm"][disabled],
button[class*="-text otter-btn-sm"][disabled]:hover,
button[class*="-text otter-btn-sm"][disabled]:focus,
button[class*="-text otter-btn-sm"][disabled]:active, button[class*="-link otter-btn-sm"][disabled], button[class*="-link otter-btn-sm"][disabled]:hover, button[class*="-link otter-btn-sm"][disabled]:focus, button[class*="-link otter-btn-sm"][disabled]:active {
  border-color: var(--otter-btn-disabled-link-border);
  background: var(--otter-btn-disabled-link-bg);
  -webkit-box-shadow: var(--otter-btn-disabled-link-box-shadow);
          box-shadow: var(--otter-btn-disabled-link-box-shadow);
  color: var(--otter-btn-disabled-link);
  text-shadow: var(--otter-btn-disabled-link-text-shadow);
}

.otter-btn:hover > a:only-child,
.otter-btn:focus > a:only-child, .otter-btn-default:hover > a:only-child,
.otter-btn-default:focus > a:only-child, .otter-btn-primary:hover > a:only-child,
.otter-btn-primary:focus > a:only-child, .otter-btn-dashed:hover > a:only-child,
.otter-btn-dashed:focus > a:only-child, .otter-btn-text:hover > a:only-child,
.otter-btn-text:focus > a:only-child, .otter-btn-link:hover > a:only-child,
.otter-btn-link:focus > a:only-child, .otter-btn-dangerous:hover > a:only-child,
.otter-btn-dangerous:focus > a:only-child, button[class*="otter-btn"][disabled] > a:only-child, button[class*="otter-btn"][disabled]:hover > a:only-child, button[class*="otter-btn"][disabled]:focus > a:only-child, button[class*="otter-btn"][disabled]:active > a:only-child {
  color: currentcolor;
}

.otter-btn:hover > a:only-child:after,
.otter-btn:focus > a:only-child:after, .otter-btn-default:hover > a:only-child:after,
.otter-btn-default:focus > a:only-child:after, .otter-btn-primary:hover > a:only-child:after,
.otter-btn-primary:focus > a:only-child:after, .otter-btn-dashed:hover > a:only-child:after,
.otter-btn-dashed:focus > a:only-child:after, .otter-btn-text:hover > a:only-child:after,
.otter-btn-text:focus > a:only-child:after, .otter-btn-link:hover > a:only-child:after,
.otter-btn-link:focus > a:only-child:after, .otter-btn-dangerous:hover > a:only-child:after,
.otter-btn-dangerous:focus > a:only-child:after, button[class*="otter-btn"][disabled] > a:only-child:after, button[class*="otter-btn"][disabled]:hover > a:only-child:after, button[class*="otter-btn"][disabled]:focus > a:only-child:after, button[class*="otter-btn"][disabled]:active > a:only-child:after {
  position: absolute;
  inset: 0;
  content: "";
  background: 0 0;
}

.otter-btn-lg {
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
}

.otter-btn-sm {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 2px;
}

.otter-radio-group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  display: inline-block;
  font-size: 0;
}

.otter-radio-group .ant-badge-count {
  z-index: 1;
}

.otter-radio-group > .ant-badge:not(:first-child) > .otter-radio-button-wrapper {
  border-left: none;
}

.otter-radio-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 8px;
  cursor: pointer;
}

.otter-radio-wrapper-disabled {
  cursor: not-allowed;
}

.otter-radio-wrapper::after {
  display: inline-block;
  width: 0;
  overflow: hidden;
  content: '\a0';
}

.otter-radio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: relative;
  top: 0.2em;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.otter-radio-wrapper:hover .otter-radio,
.otter-radio:hover .otter-radio-inner,
.otter-radio-input:focus + .otter-radio-inner {
  border-color: #1890ff;
}

.otter-radio-input:focus + .otter-radio-inner {
  -webkit-box-shadow: 0 0 0 3px #e6f7ff;
          box-shadow: 0 0 0 3px #e6f7ff;
}

.otter-radio-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  border-radius: 50%;
  visibility: hidden;
  -webkit-animation: antRadioEffect 0.36s ease-in-out;
  animation: antRadioEffect 0.36s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  content: '';
}

.otter-radio:hover::after,
.otter-radio-wrapper:hover .otter-radio::after {
  visibility: visible;
}

.otter-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.otter-radio-inner::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background-color: #1890ff;
  border-top: 0;
  border-left: 0;
  border-radius: 16px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: ' ';
}

.otter-radio-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.otter-radio-checked .otter-radio-inner {
  border-color: #1890ff;
}

.otter-radio-checked .otter-radio-inner::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.otter-radio-disabled {
  cursor: not-allowed;
}

.otter-radio-disabled .otter-radio-inner {
  background-color: #f5f5f5;
  border-color: #d9d9d9 !important;
  cursor: not-allowed;
}

.otter-radio-disabled .otter-radio-inner::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.otter-radio-disabled .otter-radio-input {
  cursor: not-allowed;
}

.otter-radio-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

span.otter-radio + * {
  padding-right: 8px;
  padding-left: 8px;
}

.otter-radio-button-wrapper {
  position: relative;
  display: inline-block;
  height: 32px;
  margin: 0;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 30px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  border-left-width: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, background 0.3s, border-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.otter-radio-button-wrapper a {
  color: rgba(0, 0, 0, 0.85);
}

.otter-radio-button-wrapper > .otter-radio-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.otter-radio-group-large .otter-radio-button-wrapper {
  height: 40px;
  font-size: 16px;
  line-height: 38px;
}

.otter-radio-group-small .otter-radio-button-wrapper {
  height: 24px;
  padding: 0 7px;
  line-height: 22px;
}

.otter-radio-button-wrapper:not(:first-child)::before {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1px;
  height: 100%;
  padding: 1px 0;
  background-color: #d9d9d9;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  content: '';
}

.otter-radio-button-wrapper:first-child {
  border-left: 1px solid #d9d9d9;
  border-radius: 2px 0 0 2px;
}

.otter-radio-button-wrapper:last-child {
  border-radius: 0 2px 2px 0;
}

.otter-radio-button-wrapper:first-child:last-child {
  border-radius: 2px;
}

.otter-radio-button-wrapper:hover {
  position: relative;
  color: #1890ff;
}

.otter-radio-button-wrapper:focus-within {
  -webkit-box-shadow: 0 0 0 3px #e6f7ff;
          box-shadow: 0 0 0 3px #e6f7ff;
}

.otter-radio-button-wrapper .otter-radio-inner,
.otter-radio-button-wrapper input[type='checkbox'],
.otter-radio-button-wrapper input[type='radio'] {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #1890ff;
  background: #fff;
  border-color: #1890ff;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled)::before {
  background-color: #1890ff;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):first-child {
  border-color: #1890ff;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):hover {
  color: #40a9ff;
  border-color: #40a9ff;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):hover::before {
  background-color: #40a9ff;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):active {
  color: #096dd9;
  border-color: #096dd9;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):active::before {
  background-color: #096dd9;
}

.otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):focus-within {
  -webkit-box-shadow: 0 0 0 3px #e6f7ff;
          box-shadow: 0 0 0 3px #e6f7ff;
}

.otter-radio-group-solid .otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled) {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
}

.otter-radio-group-solid .otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):hover {
  color: #fff;
  background: #40a9ff;
  border-color: #40a9ff;
}

.otter-radio-group-solid .otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):active {
  color: #fff;
  background: #096dd9;
  border-color: #096dd9;
}

.otter-radio-group-solid .otter-radio-button-wrapper-checked:not(.otter-radio-button-wrapper-disabled):focus-within {
  -webkit-box-shadow: 0 0 0 3px #e6f7ff;
          box-shadow: 0 0 0 3px #e6f7ff;
}

.otter-radio-button-wrapper-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.otter-radio-button-wrapper-disabled:first-child,
.otter-radio-button-wrapper-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}

.otter-radio-button-wrapper-disabled:first-child {
  border-left-color: #d9d9d9;
}

.otter-radio-button-wrapper-disabled.otter-radio-button-wrapper-checked {
  color: rgba(0, 0, 0, 0.25);
  background-color: #e6e6e6;
  border-color: #d9d9d9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes antRadioEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes antRadioEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}

.otter-radio-group.otter-radio-group-rtl {
  direction: rtl;
}

.otter-radio-wrapper.otter-radio-wrapper-rtl {
  margin-right: 0;
  margin-left: 8px;
  direction: rtl;
}

.otter-radio-button-wrapper.otter-radio-button-wrapper-rtl {
  border-right-width: 0;
  border-left-width: 1px;
}

.otter-radio-button-wrapper.otter-radio-button-wrapper-rtl.otter-radio-button-wrapper:not(:first-child)::before {
  right: -1px;
  left: 0;
}

.otter-radio-button-wrapper.otter-radio-button-wrapper-rtl.otter-radio-button-wrapper:first-child {
  border-right: 1px solid #d9d9d9;
  border-radius: 0 2px 2px 0;
}

.otter-radio-button-wrapper-checked:not([class*=' otter-radio-button-wrapper-disabled']).otter-radio-button-wrapper:first-child {
  border-right-color: #40a9ff;
}

.otter-radio-button-wrapper.otter-radio-button-wrapper-rtl.otter-radio-button-wrapper:last-child {
  border-radius: 2px 0 0 2px;
}

.otter-radio-button-wrapper.otter-radio-button-wrapper-rtl.otter-radio-button-wrapper-disabled:first-child {
  border-right-color: #d9d9d9;
}
/*# sourceMappingURL=style.css.map */