/* This CSS will print because '%code-name' is extended. */
.otter-radio-wrapper, .otter-radio, .otter-radio-group {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.otter-radio-wrapper, .otter-radio, .otter-radio-group {
  font-size: 14px;
  font-variant: tabular-nums;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  line-height: 1.5715;
  color: var(--otter-radio-title);
}

.otter-radio-wrapper, .otter-radio, .otter-radio-input, .otter-radio-inner {
  cursor: pointer;
}

.otter-radio-wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 8px;
}

.otter-radio-wrapper::after {
  display: inline-block;
  width: 0;
  content: '\a0';
  overflow: hidden;
}

.otter-radio {
  position: relative;
  top: 0.2em;
  display: inline-block;
  outline: none;
}

span.otter-radio + * {
  padding-right: 8px;
  padding-left: 8px;
}

.otter-radio-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid var(--otter-radio-checked-border);
  border-radius: 50%;
  content: '';
  -webkit-animation: antRadioEffect 0.30s ease-in-out;
  animation: antRadioEffect 0.30s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.otter-radio-checked .otter-radio-inner {
  border-color: var(--otter-radio-checked-border);
}

.otter-radio-checked .otter-radio-inner::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  opacity: 1;
}

.otter-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
}

.otter-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--otter-radio-border);
  border-radius: 50%;
  background-color: var(--otter-radio-bg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.otter-radio-inner::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  border-top: 0;
  border-left: 0;
  border-radius: 16px;
  content: ' ';
  background-color: var(--otter-radio-bg-after);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  opacity: 0;
}

.otter-radio:hover::after,
.otter-radio-wrapper:hover .otter-radio::after {
  visibility: visible;
}

.otter-radio-input:focus + .otter-radio-inner {
  -webkit-box-shadow: 0 0 0 3px var(--otter-radio-border-box-shadow);
          box-shadow: 0 0 0 3px var(--otter-radio-border-box-shadow);
}

.otter-radio-wrapper:hover .otter-radio,
.otter-radio:hover .otter-radio-inner,
.otter-radio-input:focus + .otter-radio-inner {
  border-color: var(--otter-radio-border-hover);
}

.otter-radio-disabled .otter-radio-inner, .otter-radio-disabled .otter-radio-input,
.otter-radio-disabled, .otter-radio-disabled + span, .otter-radio-wrapper-disabled {
  cursor: not-allowed;
}

.otter-radio-disabled .otter-radio-inner {
  background-color: var(--otter-radio-disabled-bg);
  border-color: var(--otter-radio-disabled-border) !important;
}

.otter-radio-disabled .otter-radio-inner::after {
  background-color: var(--otter-radio-disabled-bg-after);
}

.otter-radio-disabled + span {
  color: var(--otter-radio-disabled-span);
}

@-webkit-keyframes antRadioEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes antRadioEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.otter-radio-wrapper.otter-radio-wrapper-rtl {
  margin-right: 0;
  margin-left: 8px;
  direction: rtl;
}

.otter-radio-group {
  display: inline-block;
  font-size: 0;
}
/*# sourceMappingURL=radio.css.map */