<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/tooltip.css">
  <link rel="stylesheet" href="./style/animation.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Basic Tooltip</title>
</head>
<body>
  <div class="wrap">
    <div style="padding: 160px 0">
      <span role="button" class="otter-tooltip-trigger otter-tooltip-link otter-tooltip-close" data-index-number="1">
        <span data-tooltip="I'm tooltip. Zero">Hover meTooltip will show on mouse enter.</span>
        <span class="spacial-letter-down" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, itaque distinctio? Numquam, dolor quis! Exercitationem rem consectetur praesentium tempore voluptatum magni dolorem dignissimos accusantium repellendus, natus iure, atque aspernatur ipsum.
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti animi id cupiditate, maxime molestias itaque deserunt ex. Obcaecati dolorem debitis sed nulla ipsa voluptate placeat odit rerum, aspernatur nihil nostrum?
      <span role="button" class="otter-tooltip-trigger otter-tooltip-link otter-tooltip-close"  data-index-number="2">
        <span data-tooltip="I'm tooltip. one">Hover meTooltip will show on mouse enter.</span>
        <span class="spacial-letter-down" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officia asperiores, debitis porro excepturi esse totam deleniti sed in est nesciunt ipsum incidunt repellendus voluptatum perspiciatis quo facilis, impedit doloremque?
      Ab molestiae atque illum laboriosam minus praesentium labore, aliquid debitis dignissimos, totam repellat, voluptas unde exercitationem nobis voluptatum quas eveniet ipsum rem voluptatem neque adipisci rerum pariatur consequuntur? Fuga, consectetur.
      <span role="button" class="otter-tooltip-trigger otter-tooltip-link otter-tooltip-close"  data-index-number="3">
        <span data-tooltip="I'm also tooltip. two">Hover meTooltip will show on mouse enter.</span>
        <span class="spacial-letter-down" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </span>
      Alias rem, animi velit officiis dolorem reprehenderit optio nemo dolore, totam similique obcaecati dolor fugiat quidem consequuntur illum non? Expedita maiores distinctio provident architecto aliquid cumque nulla libero dolor inventore!
      In nulla cum alias pariatur vero, vitae odio similique illum, aliquam dolore beatae rem reprehenderit cumque est aliquid consequuntur! Quia officiis omnis iste. Odio aut blanditiis quasi incidunt accusamus enim!
      <span role="button" class="otter-tooltip-trigger otter-tooltip-link otter-tooltip-close"  data-index-number="4">
        <span data-tooltip="I'm also tooltip. three">Hover meTooltip will show on mouse enter.</span>
        <span class="spacial-letter-down" focusable="false" role="img" aria-label="display of tooltip state that open or close" aria-expanded="false">&#8744;</span>
      </span>
      Praesentium pariatur saepe illum repellat voluptatum harum aliquam culpa exercitationem facilis doloribus, aspernatur earum accusamus accusantium laboriosam consectetur labore nisi illo dolorem officiis magni cum. Nemo aliquid inventore delectus necessitatibus?
      Facilis sunt, dignissimos pariatur quaerat quas ut quisquam id inventore, veritatis, ab minus debitis beatae aperiam deserunt quasi. Et commodi deserunt ducimus sapiente accusamus pariatur reiciendis nihil rem quaerat aliquid!
      Aliquam impedit minima doloremque blanditiis officia ex, veniam amet? Voluptate quo expedita quaerat libero, ullam delectus corporis, possimus mollitia, harum distinctio eius veniam ipsa et illo eos. Aspernatur, aliquam repudiandae.
      Corporis non vero, pariatur, doloribus voluptatum dolorem praesentium totam quas natus facilis tempora sequi libero porro nisi impedit delectus nihil, et voluptate beatae distinctio eligendi. Quisquam nihil possimus distinctio aspernatur?
      Adipisci, fuga? Libero officia, amet nihil, nostrum quasi obcaecati possimus autem at, veniam eligendi minima perferendis nobis enim! Vitae, impedit! In odio dolores velit odit fugit aut nobis totam expedita?
    </div>
    <ol class="event-log-tooltip">
      <!-- <li>log</li> -->
    </ol>
  </div>
  <!-- Dynamically generate data -->
  <script src="./script/createTooltip.js"></script>
  <script src="./script/tooltip.js"></script>
</body>
</html>
