<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style/reset.css">
	<link rel="stylesheet" href="./style/reset.user.css">
	<link rel="stylesheet" href="./style/color.css">
	<link rel="stylesheet" href="./style/button.css">
	<link rel="stylesheet" href="./style/radio.css">
	<link rel="stylesheet" href="./style/style.css">
	<title>Disabled Radio</title>
</head>
<body>
	<div class="wrap">
		<label class="otter-radio-wrapper otter-radio-wrapper-disabled" for="disabled-radio-1">
      <span class="otter-radio otter-radio-disabled">
        <input type="radio" class="otter-radio-input" id="disabled-radio-1" name="disabled-radio-1" value="disabled-radio-1" disabled>
        <span class="otter-radio-inner"></span>
      </span>
      <span>Disbled Radio 1</span>
    </label>
		<label class="otter-radio-wrapper otter-radio-wrapper-disabled otter-radio-wrapper-checked" for="disabled-radio-2">
      <span class="otter-radio otter-radio-disabled otter-radio-checked">
        <input type="radio" class="otter-radio-input" id="disabled-radio-2" name="disabled-radio-2" value="disabled-radio-2" disabled checked>
        <span class="otter-radio-inner"></span>
      </span>
      <span>Disbled Radio 2</span>
    </label>
		<br>
		<button type="button" class="otter-btn otter-btn-primary" style="margin-top: 16px;" otter-click-animating-without-extra-node="false">
			<span>Toggle disabled</span>
		</button>
	</div>
<script src="./script/script.js"></script>
</body>
</html>