<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/divider.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Horizontal Divider</title>
</head>
<body>
  <div class="wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal" role="separator"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-solid" role="separator"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-dashed" role="separator"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
    <div class="otter-divider otter-divider-horizontal otter-divider-dotted" role="separator"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis pariatur a perferendis maxime? Quo repellendus iure suscipit esse voluptatum doloremque veniam quisquam, quam, at reiciendis blanditiis. Corrupti earum laborum soluta?</p>
  </div>
</body>
</html>