<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/dropdown.css">
  <link rel="stylesheet" href="./style/animation.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Other Elements Dropdown</title>
</head>
<body>
  <div class="wrap">
    <a href="#" role="button" class="otter-dropdown-trigger otter-dropdown-link otter-dropdown-close"  data-index-number="1">
      <span>Hover me</span>
      <span class="spacial-letter-down" focusable="false" role="img" aria-label="display of dropdown menus state that open or close" aria-expanded="false">&#8744;</span>
    </a>
		<ol class="event-log-dropdown">
			<!-- <li>log</li> -->
		</ol>
  </div>
  <!-- Dynamically generate data -->
  <script src="./script/createDropdownMenu.js"></script>
  <script src="./script/dropdown.js"></script>
</body>
</html>
