:root {
  --otter-black: rgba(0. 0, 0, 1);
  --otter-white: rgba(255, 255, 255, 1);
  --otter-transparent: rgba(0. 0, 0, 0);
  --otter-ftbck-title: rgba(0, 0, 0, 0.85);
  --otter-ftbck-primary-text: rgba(0, 0, 0, 0.65);
  --otter-ftbck-secondary-text: rgba(0, 0, 0, 0.45);
  --otter-ftbck-disable: rgba(0, 0, 0, 0.25);
  --otter-ftbck-border: rgba(0, 0, 0, 0.15);
  --otter-ftbck-dividers: rgba(0, 0, 0, 0.06);
  --otter-ftbck-background: rgba(0, 0, 0, 0.04);
  --otter-ftbck-table-header: rgba(0, 0, 0, 0.02);
  --otter-ftwht-title: rgba(255, 255, 255, 0.85);
  --otter-ftwht-primary-text: rgba(255, 255, 255, 0.65);
  --otter-ftwht-secondary-text: rgba(255, 255, 255, 0.45);
  --otter-ftwht-disable: rgba(255, 255, 255, 0.30);
  --otter-ftwht-border: rgba(255, 255, 255, 0.20);
  --otter-ftwht-dividers: rgba(255, 255, 255, 0.12);
  --otter-ftwht-background: rgba(255, 255, 255, 0.08);
  --otter-ftwht-table-header: rgba(255, 255, 255, 0.04);
  --otter-primary-color: rgba(24, 144, 255, 1);
  --otter-primary-color-hover: rgba(64, 169, 255, 1);
  --otter-primary-color-active: rgba(9, 109, 217, 1);
  --otter-primary-color-outline: rgba(24, 144, 255, .2);
  --otter-btn-dangerous: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-hover: rgba(255, 120, 117, 1);
  --otter-btn-dangerous-bg: var(--otter-white);
  --otter-btn-dangerous-bg-hover: var(--otter-white);
  --otter-btn-dangerous-border: rgba(255, 77, 79, 1);
  --otter-btn-dangerous-border-hover: rgba(255, 120, 117, 1);
  --otter-btn-dangerous-box-shadow: rgba(0, 0, 0, 0.05);
  --otter-btn-dangerous-text-shadow: rgb(0, 0, 0, 0.12);
  --otter-btn-primary: var(--otter-white);
  --otter-btn-primary-hover: var(--otter-white);
  --otter-btn-primary-bg: var(--otter-primary-color);
  --otter-btn-primary-bg-hover: var(--otter-primary-color-hover);
  --otter-btn-primary-border: rgba(24, 144, 255, 1);
  --otter-btn-primary-border-hover: rgba(24, 144, 255, 1);
  --otter-btn-primary-box-shadow: rgba(0, 0, 0, 0.05);
  --otter-btn-primary-text-shadow: rgba(0, 0, 0, 0.12);
  --otter-btn-default: rgba(0, 0, 0, 0.85);
  --otter-btn-default-hover: var(--otter-primary-color-hover);
  --otter-btn-default-bg: var(--otter-white);
  --otter-btn-default-bg-hover: var(--otter-white);
  --otter-btn-default-border: rgba(217, 217, 217, 1);
  --otter-btn-default-border-hover: var(--otter-primary-color-hover);
  --otter-btn-default-box-shadow: rgba(0, 0, 0, 0.02);
  --otter-btn-default-text-shadow: none;
  --otter-btn-dashed: rgba(0, 0, 0, 0.85);
  --otter-btn-dashed-hover: var(--otter-primary-color-hover);
  --otter-btn-dashed-bg: var(--otter-white);
  --otter-btn-dashed-bg-hover: var(--otter-white);
  --otter-btn-dashed-border: rgba(217, 217, 217, 1);
  --otter-btn-dashed-border-hover: var(--otter-primary-color-hover);
  --otter-btn-dashed-box-shadow: rgba(0, 0, 0, 0.02);
  --otter-btn-dashed-text-shadow: none;
  --otter-btn-text: rgba(0, 0, 0, 0.85);
  --otter-btn-text-hover: var(--otter-primary-color-hover);
  --otter-btn-text-bg: var(--otter-transparent);
  --otter-btn-text-bg-hover: rgba(0, 0, 0, 0.018);
  --otter-btn-text-border: var(--otter-transparent);
  --otter-btn-text-border-hover: var(--otter-transparent);
  --otter-btn-text-box-shadow: none;
  --otter-btn-text-text-shadow: none;
  --otter-btn-link: rgba(24, 144, 255, 1)  ;
  --otter-btn-link-hover: rgba(24, 144, 255, 1)  ;
  --otter-btn-link-bg: var(--otter-transparent);
  --otter-btn-link-bg-hover: var(--otter-transparent);
  --otter-btn-link-border: var(--otter-transparent);
  --otter-btn-link-border-hover: var(--otter-transparent);
  --otter-btn-link-box-shadow: none;
  --otter-btn-link-text-shadow: none;
  --otter-btn-disabled-default: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-default-hover: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-default-bg: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-bg-hover: rgba(245, 245, 245, 1);
  --otter-btn-disabled-default-border:rgba(217, 217, 217, 1);
  --otter-btn-disabled-default-border-hover:rgba(217, 217, 217, 1);
  --otter-btn-disabled-default-box-shadow: none;
  --otter-btn-disabled-default-text-shadow: none;
  --otter-btn-disabled-text: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-text-bg: 0 0;
  --otter-btn-disabled-text-border: var(--otter-transparent);
  --otter-btn-disabled-text-box-shadow: none;
  --otter-btn-disabled-text-text-shadow: none;
  --otter-btn-disabled-link: rgba(0, 0, 0, 0.25);
  --otter-btn-disabled-link-bg: var(--otter-transparent);
  --otter-btn-disabled-link-border: var(--otter-transparent);
  --otter-btn-disabled-link-box-shadow: none;
  --otter-btn-disabled-link-text-shadow: none;
}
/*# sourceMappingURL=color.css.map */