<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/reset.user.css">
  <link rel="stylesheet" href="./style/color.css">
  <link rel="stylesheet" href="./style/space.css">
  <link rel="stylesheet" href="./style/button.css">
  <link rel="stylesheet" href="./style/style.css">
  <title>Type Button</title>
</head>
<body>
  <div class="wrap">
    <div style="padding: 80px 0;">
      <div class="otter-space otter-space-flex otter-space-vertical otter-space-align-center otter-space-vertical-gap-8">
        <div class="otter-space-item">
          <div class="otter-space otter-space-horizontal otter-space-align-center otter-space-horizontal-gap-8">
            <div class="otter-space-item">
              <button type="button">
                <span>Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default">
                <span>Default Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="primary">
                <span>Primary Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="dashed">
                <span>Dashed Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="text">
                <span>Text Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="link">
                <span>Link Button</span>
              </button>
            </div>
          </div>
        </div>
        <div class="otter-space-item">
          <div class="otter-space otter-space-horizontal otter-space-align-center otter-space-horizontal-gap-8">
            <div class="otter-space-item">
              <button type="button" disabled>
                <span>Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="default" disabled>
                <span>Default Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="primary" disabled>
                <span>Primary Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="dashed" disabled>
                <span>Dashed Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="text" disabled>
                <span>Text Button</span>
              </button>
            </div>
            <div class="otter-space-item">
              <button type="button" data-button-type="link" disabled>
                <span>Link Button</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="event-log-button">
      <!-- <li>log</li> -->
    </ol>
  </div>
  <script src="./script/button.js"></script>
</body>
</html>